[2016-01-24 22:38] jgbarah opened #1 "File docker/compose/gelk.yml has developer-dependent files"
The following lines in docker/compose/gelk.yml:

[code]

The two lines in volumes assume that this repository has been cloned under ~/devel/GrimoireELK, but that's probably only the place where the developer cloned it. In general, it should be relative to the place where it is cloned in each environment.

I couldn't find a way for specifying relative paths for this file (or at least, none that wor

[2016-01-25 07:07] acs commented on #1
Right now the approach could be to use this directory structure until we found a fix. If documentation about experimental GrimoireELK is published , it will be included.

[2016-04-07 12:50] sanacl opened #5 "KeyError: 'updated_on' from ocean/elastic.py"
[code]

[2016-04-07 12:52] sanacl commented on #5
I'm using master

[2016-04-07 13:10] albertinisg commented on #1
@acs, docker-compose already allows the directories `.` and `..`
That means, this probably can be fixed by using:

[code]

[2016-04-07 13:22] acs commented on #5
This error is because the data from perceval does not seem to be the last version. Are you using perceval 0.1.0? In this version, item['updated_on'] must be defined.

[2016-04-07 13:30] acs commented on #5
It is not a bug, just trying to use and old index format with the code (0.1) expecting the new format version. I close this bug.

[2016-04-07 13:30] #5 closed

[2016-04-07 14:21] sanacl commented on #5
It makes sense, I used an older version to get data, updated after it finished and got this error. Thank you Alvaro! :heart_eyes:

[2016-04-08 03:56] acs commented on #1
@albertinisg cool. The other approach we are using now is:

https://github.com/grimoirelab/GrimoireELK/blob/master/docker/compose/bidek.yml#L7

[code]

but in this case, it is better your proposal. I will test it and change it. Do you until minimal docker-compose version for this feature?

[2016-06-19 12:21] robinmuilwijk opened #14 "Error on analyzing gitlog"
I have Perceval, Elastic and Kibana running (all tested).

I am following usecase https://github.com/grimoirelab/use_cases/blob/master/github/README.md. At the step where I clone my own repo, and than want to analyze it with the command:

`python3 ./p2o.py -e http://localhost:9200 --no_inc --debug git /tmp/bicho-gitlog.log`

I get the following errors (I am using the fosdem branch):

2016-06-19 14

[2016-06-24 15:40] acs commented on #14
@robinmuilwijk fosdem branch is a bit outdated and we are not supporting it. Could you reproduce the same error in master branch?

[2016-06-24 15:42] robinmuilwijk commented on #14
Jesus actually suggested using the fosdem branch, but I will try the master. I will report back with feedback.

[2016-06-24 16:12] acs commented on #14
@robinmuilwijk yes, to follow the github use case use "fosdem" branch is the best approach, but it you find issues, we are not supporting this branch so probably, it is time to move to master (not sure in this scenario if the use case will work out of the box).

[2016-06-24 16:28] jgbarah commented on #14
@acs I suggested to use the FOSDEM branch, because I'm not sure the github use case works with the current stack, as such. Well, I'm fact, I'm pretty much sure it doesn't. If you can just write here the sequence of commands, I can test it and update the case tu current Perceval and GrimoireELK.

@robinmuilwijk Could you please make sure you're using the FOSDEM version of Perceval too? The output f

[2016-06-24 16:31] robinmuilwijk commented on #14
I will switch to the FOSDEM branch of Perceval, thanks for the tip! I will post my feedback here, as soon as I've given it another run.

[2016-06-24 18:45] jgbarah commented on #14
Great. Warning: maybe for Perceval it is a tag, not a branch, now I don't remember...

[2016-06-24 19:23] robinmuilwijk commented on #14
Thanks for the heads up, I think it is a branch but I'll find out. Probably working on it tomorrow, setup Perceval again, and see if pushing the data to Elastic will work.

[2016-07-02 09:16] robinmuilwijk commented on #14
Finally have some time to work on this. I moved to the fosdem16 branch for perceval, and the command I was stuck on now works. Continuing the GitHub usecase and see if I can finish the dashboard.

[2016-07-02 10:35] jgbarah commented on #14
Great! Let us know if you have further problems. In any case, I hope to upgrade instructions to 0.3, which we're about to release, as soon as I can after the release. I'm closing this one for now, feel free to reopen / open a new issue if you find further problems.

[2016-07-02 10:35] #14 closed

[2016-07-07 13:26] sanacl commented on #1
The nginx container is not being used right now. So I'm closing this due to its deprecated.

[2016-07-07 13:26] #1 closed

[2016-07-07 22:21] jgbarah opened #17 "Error when trying to install dependencies for p2o"
When trying to run p2o (just up to the point of showing the --help output) I don't see how to fulfill the dependency on MySQLdb:

[code]

But AFAIK, MySQLdb cannot be installed for Python3 ([see this question in StackOverflow](http://stackoverflow.com/questions/20049590/pip-3-3-install-mysql-python)). And in fact, when I try to install MySQL-python, I get errors that I cannot solve. I can install

[2016-07-08 06:19] acs commented on #17
You can take a look at how we are installing it in GELK Docker image:

https://github.com/grimoirelab/GrimoireELK/blob/master/docker/gelk-arthur/Dockerfile#L37

[2016-07-08 08:48] jgbarah commented on #17
So, the next install makes the trick:

[code]

Thanks a lot!

[2016-07-08 08:48] #17 closed

[2016-07-15 16:21] BenLloydPearson opened #36 "JSON serializing crash"
Hello,

I'm using the fosdem16 branch of Perceval as outlined in the first use case. While trying to use GrimoireELK to bring data from the Linux Kernel git log into elasticsearch I ran into a single commit that was causing Perceval to crash.

Here is the beginning of the error log:
`Error feeding ocean from git (linux.gitlog): 'utf-8' codec can't decode byte 0xf6 in position 5329: invalid start b

[2016-07-15 17:31] jgbarah commented on #36
Info from @BenLloydPearson via IRC:

The process for getting this error is using the  vanilla instructions in the FOSDEM use case on the Torvalds Linux repo.

[2016-07-21 08:46] mlem opened #39 "'GitHubCommand' object has no attribute 'offset'"
Hi,

I'm trying to import a simple project with your tool to see some git/github statistics.
I was following your guide at https://github.com/grimoirelab/use_cases/tree/master/documentfoundation

I can't import a simple git repo form github into elasticsearch because of the index creation. Something is not working out.
Do you have some experience with this issue or can you hint me to the place whe

[2016-07-21 08:50] acs commented on #39
Fix already in master from this morning:

https://github.com/grimoirelab/GrimoireELK/commit/064cc0c4c882f5548513936f1608926fda6f4d09

Could you upgrade?

Thanks!

[2016-07-21 08:50] #39 closed

[2016-08-29 21:20] p23power commented on #14
Hi jgbarah,

Like robinmuilwijk, I am following usecase https://github.com/grimoirelab/use_cases/blob/master/github/README.md. .. I get a similar error at the following step:

`python3 ./p2o.py -e http://localhost:9200 --no_inc --debug git /tmp/bicho-gitlog.log`

using the fosdem branch:

`2016-08-29 22:10:35,401 Adding items to http://tiger-linux.domain.snsys.com:9200/git__tmp_bicho2-gitlog.log/i

[2016-08-31 20:21] robinmuilwijk commented on #14
@p23power I remember getting a warning/error on a missing Python dependency, for the database. I noticed it was not listed as requirement in the GitHub use-case, but went ahead and installed it, which let me continue the use-case. Not sure anymore which package I installed though, it could have been https://pypi.python.org/pypi/db.py.

[2016-09-06 22:01] p23power commented on #14
Hi,

My first error seems to be because of UTF-8 characters in the bicho git log.  I created a new log limiting the timeline to before feb 2016 and it worked ok.
`2016-08-29 22:10:35,407 Error feeding ocean from git (/tmp/bicho2-gitlog.log): 'hits' `

I have progressed to attempting to mine a bugzilla - but this has auth and the fosdem branch version does not seem to use auth.  I took a look at th

[2016-09-07 17:20] robinmuilwijk commented on #14
@p23power you might want to check stackoverflow, there are a lot of topics on "No module named MySQLdb".

I did a '$ pip list' to see which packages I have installed but there is actually no DB package at all.

[2016-09-07 17:41] p23power commented on #14
@robinmuilwijk - I am now successfully running something from master :o)  I used the mysqlclient.  I tried mysqlclient last week without success - not sure what I am doing differently.

Thanks

[2016-10-04 14:20] jsmanrique opened #57 "Parsing webkit-dev pipermail, all items before Oct. 2007 collapse in one month"
After running:

[code]

I get posts older than Oct. 9th 2007 set to grimoire_creation_date as Oct. 9th, 2007

Note: Issue moved here as recomendation in [Perceval Issue #72](https://github.com/grimoirelab/perceval/issues/72)

[2016-10-05 07:56] acs commented on #57
Debugging it right now. Stay tuned!

[2016-11-10 14:49] jsmanrique opened #66 "Missing module 'sortinghat'"
I've tried to use p2o without Sorting Hat, and I get this error message:
[code]

[2016-11-10 22:33] acs commented on #66
Fixed in https://github.com/grimoirelab/GrimoireELK/commit/e99971cffdf49909ba6648137be37cbbf9cc4e34

[2016-11-10 22:33] #66 closed

[2017-03-02 19:04] robinmuilwijk opened #76 "fatal: Not a git repository"
As reported by e-mail already, I had one harmless error report. I am running the following command:
`
p2o.py --enrich --index jira_raw --index-enrich jira -e http://localhost:9200 --no_inc --debug jira https://jira.ez.no --project EZP -u my-username -p ‘my-password’ `

**I am currently on:**
perceval 0.5.0
grimoire-elk 0.22.1
grimoire-kidash 0.22.1
Python 3.4

**The error report:**

2017-03-02 17:

[2017-03-02 20:18] acs commented on #76
This is old code that check the version of GrimoireELK under the assumption that you are inside a git repository clone of GrimoireELK. Now that we have pypi packages, this has less sense, so we must update this code. It should be added to the ROADMAP :)

[2017-03-02 20:35] robinmuilwijk opened #77 "Jira, incremental load not working?"
If a run that command, to load Jira issues twice.... first for project EZS, and then with the same command but for project EZP, it should add all Jira issues in the same indexes right?

`p2o.py --enrich --index jira_raw --index-enrich jira -e http://localhost:9200 --debug jira https://jira.ez.no --project EZS`

and

`p2o.py --enrich --index jira_raw --index-enrich jira -e http://localhost:9200 --d

[2017-03-02 21:22] acs commented on #36
@BenLloydPearson are you interested in this issue or we can close it? The software has evolved a lot and probably if you are interested it is better to reproduce it with current versions and then work in this scenario. What do you think?

[2017-03-03 05:21] acs commented on #77
The problem is that for incremental update of an index, in order to find the last date for items already indexed, gelk uses as filter for items in Elastic Search the field **tag**. If you don't add the tag param as a perceval param, it uses origin as tag. So for EZS and EZP the tag is the same. And in this case, when trying to get the last item indexed from EZP, the search in Elastic Search return

[2017-03-03 06:01] robinmuilwijk commented on #77
I was actually going to double check on some kind of wrong 'filtering' assumption on my end. I thought I might have to skip the --project param. But this tag makes perfect sense.

I will reload the data, using these commands, and let you know if it works. / @acs

[2017-03-03 17:20] robinmuilwijk commented on #77
@acs I was able to load both Jira projects, adding the tag to the command worked. Thanks again for your help.

[2017-03-03 17:20] #77 closed

[2017-03-06 23:25] BenLloydPearson commented on #36
I think it can probably be closed. I've been testing the latest version of everything over the past couple of weeks and it seems Perceval properly handles these problems now. Granted, I haven't tested with the specific commit I was running into the problem with, but if it does continue to cause problems I can reopen this bug or submit a new one.

Thanks for your work!

[2017-03-07 00:24] jgbarah commented on #36
Great! Closing it then. Please reopen or submit a new issue if you find a problem again.

[2017-03-07 00:24] #36 closed

[2017-03-21 11:56] aklapper opened #78 "Replace hardcoded list of Maniphest open statūs by querying actual config of Phabricator"
From [/elk/phabricator.py](https://github.com/grimoirelab/GrimoireELK/blob/e709c2c59e18a4c67fe9402dc0e9748a8edcb169/grimoire_elk/elk/phabricator.py#L310):

Hardcoding values here looks brittle (and error-prone if some customizations have taken place).

Conduit's `maniphest.querystatuses` API call offers the values of `maniphest.statuses` in the global Phabricator config, listed under `openStatuses

[2017-03-30 21:19] marceloschmidt opened #79 "Docker image fails to create Elastic Search index"
`sudo docker run --name gelk -it --rm --link elasticsearch:elasticsearch --link mariadb:mariadb --link redis:redis bitergia/gelk`

[code]

[2017-04-01 14:42] stuartlangridge opened #80 "Imports perceval.mozilla backends, which don't seem to exist in the perceval repository?"
Running `p2o.py` from a git checkout is looking for `perceval.backends.mozilla`:

    Traceback (most recent call last):
      File "./GrimoireELK/utils/p2o.py", line 31, in <module>
        from grimoire_elk.arthur import feed_backend, enrich_backend
      File "/home/aquarius/Work/LQ/PercevalBackends/GrimoireELK/utils/grimoire_elk/arthur.py", line 35, in <module>
        from .utils import get_e

[2017-04-15 13:52] robinmuilwijk opened #81 "pip3 install/upgrade does not fetch latest versions"
I installed the grimoire-elk and grimoire-kidash python packages earlier (through pip package manager). This also pulled in the perceval package.

At that time I was on versions: grimoire-elk 0.22.1, grimoire-kidash 0.22.1, and perceval 0.5.0.

I wanted to update the packages so I could use the Slack backend which is now available in perceval 0.7.0. So I ran the following commands:

pip3 install g

[2017-04-15 13:57] robinmuilwijk commented on #81
I did a quick look on the pypi site. Looks like grimoire-elk and grimoire-kidash are only available as 0.22.1. See https://pypi.python.org/pypi/grimoire-elk/0.22.1.

This would explain only perceval would be upgraded.

[2017-04-16 07:18] herotest opened #82 "issue loading the data to ES using p2o.py"
p2o.py --enrich --index git_raw --index-enrich git -e http://localhost:9200 --no_inc --debug git /tmp/git-data.json
2017-04-16 07:11:03,996 Debug mode activated
2017-04-16 07:11:03,998 Feeding Ocean from git (/tmp/git-data.json)
2017-04-16 07:11:04,553 Can't create index http://localhost:9200/git_raw (407)
2017-04-16 07:11:04,553 Error feeding ocean from git (/tmp/git-data.json):
Traceback (most r

[2017-04-16 18:03] jgbarah commented on #81
Thx a lot, @robinmuilwijk. Yes, you're right, the problem is that new versions are not in pypi yet. I will try to fix that asap. Thanks a lot for the heads-up.

[2017-04-16 22:52] jgbarah commented on #81
New packages uploaded to Pypi. Closing this issue. Thanks, @robinmuilwijk

[2017-04-16 22:52] #81 closed

[2017-04-17 04:50] robinmuilwijk commented on #81
Thanks!

[2017-04-17 06:59] robinmuilwijk commented on #81
Upgrade went fine, tested my data load scripts and all works.

Only thing I noticed is that grimoire-kidash is still on version 0.22.1.

[2017-04-17 09:03] robinmuilwijk opened #83 "pip package 0.26 up to date? missing backend in util.py (slack)"
I upgraded my python packages yesterday, and I am now on grimoire-elk 0.26.5, perceval 0.7.0.

I upgraded so I can make use of the Slack backend. If I run my import script, all works, so I know the updates should be ok. Now I want to try this:

p2o.py --enrich --index slack_raw --index-enrich slack -e http://localhost:9200 --debug slack C06BF20AH --from-date 2015-06-01 -t my-slack-token

I get the

[2017-04-17 09:06] robinmuilwijk commented on #83
p.s. I downloaded the package from https://pypi.python.org/pypi/grimoire-elk/0.26.5 and it does contain the correct utils.py which includes the slack import.

Could it be the pip3 install grimoire-elk --upgrade went wrong, and did not update this file?

[2017-04-17 16:13] robinmuilwijk commented on #83
For some reason, it is working now. I ran the upgrade command again. I can verify the correct utils.py is now in place.

[2017-04-17 16:53] robinmuilwijk opened #84 "Question: how to use Slack backend and p2o"
I got Slack working, or at least partially. I run the following command:

p2o.py --enrich --index slack_raw --index-enrich slack -e http://localhost:9200 --debug slack C06BF20AH --from-date 2015-06-01 -t mySlackToken

What this does, is that it loads 100 messages from the Slack channel, but from today and backwards. It does not start at the given date 2015-06-01 so I can't seem to load the full hi

[2017-04-18 00:52] herotest commented on #82
I have pulled perceval, grimoire-elk and kidash using pip3
I am able to use perceval and pull the git repo log.
When  i am trying to load  i get the below error

p2o.py --enrich --index git_raw --index-enrich git -e http://localhost:9200 --no_inc debug git
 sbde_commit.log
Traceback (most recent call last):
  File "/usr/local/bin/p2o.py", line 127, in <module>
    args.index, args.index_enrich, ar

[2017-04-18 06:40] robinmuilwijk commented on #82
Hi @herotest , you need to change "debug" to "--debug". Then try again, the rest of your command looks good.

[2017-04-19 03:55] herotest commented on #82
Thanks Robin
But as you see the earlier message i used the --debug got a different error msg
Now i am getting a different error If i use the log file to load

These are the commands i am using
perceval git https://github.com/grimoirelab/GrimoireELK.git > /tmp/grimoire_git.log

p2o.py --enrich --index grimoire_raw --index-enrich grimoire -e http://localhost:9200 --no_inc --debug git /tmp/grimoire.j

[2017-04-19 07:31] robinmuilwijk commented on #82
I see what you are doing differently. I am only loading the some-repository.git. Not the git log. Someone from Bitergia might know more why you are getting these errors.

[2017-04-27 08:32] robinmuilwijk commented on #84
I tried using --tag and define a channelname. And then load two channels that way into the single index. But the second command does not load any data.

I have also tried using a more recent date for the --from-date, this now results in loading 200 messages, but I would expect this to be higher.

[2017-06-01 16:04] acs commented on #84
@robinmuilwijk it seems slack API returns messages just from the past n-days. From our testing n seems to be 13 days. But I can not find any documentation related to it.

I have tested to load two channels in the same index with p2o and I have no issues. And also, the --from-date param is working for me has expected.

[2017-06-01 18:19] robinmuilwijk commented on #84
@acs thanks for the feedback, I am going to try this again, I'll let you know the results.

[2017-06-01 19:09] robinmuilwijk commented on #84
It works! What I changed in my command was to remove --debug. I set the --from-date to 2017-01-01 and it is pulling in messages from April 10 to today. By only changing the channel ID, I can now load several channels into my slack index.

[2017-06-01 21:32] acs commented on #84
@robin that's great. Could you confirm that the messages collected are not the full history?

[2017-06-02 19:32] robinmuilwijk commented on #84
@acs you are correct, I confirm that not the full history is being fetched. It fetches messages from today and then back in time, for an x-amount of messages. Whenever I schedule my commands, it will continue to load messages incremental.

[2017-06-05 17:47] robinmuilwijk opened #85 "Question: does slack deal differently with incrementals"
I noticed that I was not getting all messages from the channels I load. What I noticed, watching the terminal as my script runs to load data, is that with every p2o command I use (for Git, GitHub and Jira), it always states "Incremental from: date" after the line that it is feeding Ocean.

Now for my Slack command I am using:

p2o.py --enrich --index slack_raw --index-enrich slack -e http://localh

[2017-06-09 22:06] herotest commented on #80
try installing  perceval-mozilla
pip3 install perceval-mozilla

[2017-06-27 09:21] smitthakkar96 commented on #80
any update on this, I am trying to set it up on my end but I am running into issues

[2017-06-28 06:44] smitthakkar96 commented on #80
Actually after a work around I was able to set the things up and I realized that the things were not upto date so I cloned perceval, grimoirelab-toolkit and perceval-mozilla from git and ran setup manually and it ran.

[2017-06-29 05:14] smitthakkar96 opened #86 "Unable to load the generated dashboards"
![screen shot 2017-06-28 at 12 54 52 pm](https://user-images.githubusercontent.com/10204970/27672336-c617007a-5cb7-11e7-8490-7054d1e215da.png)

[2017-06-29 05:14] smitthakkar96 commented on #86
I am using ES and kibana 5.4.2

[2017-07-14 18:50] ghasabian commented on #80
$ git clone https://github.com/grimoirelab/perceval-mozilla.git
$ pip3 install -r requirements.txt
$ python3 setup.py install

it fixes the problem

[2017-07-28 19:35] aghassabian opened #93 "The TypeError using gerrit and p2o.py"
I'm using the p2o.py with the gerrit parameter to retrieve and enrich data from my gerrit repo. but I receive the TypeError in grimoire_elk/ocean/gerrit.py, line 35

` File "/usr/local/lib/python3.5/dist-packages/grimoire_elk/ocean/gerrit.py", line 35, in _fix_item
    item["ocean-unique-id"] = item["data"]["number"]+"_"+item['origin']
TypeError: unsupported operand type(s) for +: 'int' and 'str'`

[2017-08-04 06:29] c3399 opened #94 "elasticsearch5.4 The index file name displays an exception"
Error message：
[2017-08-03T10:49:40405][INFO][o.e.c.m.MetaDataCreateIndexService] [ES-node] [logstash-tt-2017.08.03] creating index cause [auto (bulk API)], templates [logstash], shards [5]/[1], mappings [_default_]

[2017-08-03T10:49:40936][INFO,][o.e.c.m.MetaDataMappingService], [ES-node], [logstash-tt-2017.08.03/AL0czI5qSKWb3CIVzM_oXw], create_mapping, [system]

Under the elasticsearch index sa

[2017-08-04 20:11] aghassabian commented on #93
Use `item["ocean-unique-id"] = str(item["data"]["number"])+"_"+item['origin']`

[2017-09-15 08:53] sduenas opened #98 "Handle GitHub issue comments during enrichment phase"
The latest version of GitHub backend in Perceval fetches the comments of each issue. GrimoireELK should handle these comments to enrich items with these data.

See grimoirelab/perceval#53

[2017-09-15 08:55] sduenas opened #99 "Handle GitHub issue assignees during enrichment phase"
The latest version of GitHub backend in Perceval includes on its items the assignees of each issue. GrimoireELK should handle these assignees to enrich items with these data.

[2017-09-15 08:57] sduenas opened #100 "Handle GitHub reactions during enrichment phase"
The latest version of GitHub backend in Perceval includes on its items the reactions to issues and issue comments. GrimoireELK should handle these assignees to enrich items with these data.

See grimoirelab/perceval#155

[2017-09-15 13:42] sebix opened #101 "Dependencies on sortinghat and MySQLdb not declared"
Noticed this when running the tests in a build environment. They should be in install_requires or extras_requires

[2017-09-15 18:15] sanacl opened #102 "Error enriching Phabricator with elasticgirl.15"
I've found the following error while trying to analyze a Phabricator (Maniphest) instance with the release elasticgirl.15

[code]

[2017-09-16 12:02] sebix opened #103 "Incorrect FSF address"
As pointed out by rpmlint during packaging, all the FSF addresses in the license headers in all files are outdated.

[2017-09-18 08:03] acs commented on #102
Fixed in https://github.com/grimoirelab/GrimoireELK/commit/cf304f9b5526aa151d2b42df20d334283715b761

[2017-09-18 08:03] #102 closed

[2017-09-19 15:35] acs commented on #98
We need to define howto include those comments in the enriched index. Probably we want to add a new field comments with type array and with all the comments. But I have not a clear vision on howto use that information in the panels. In a first version we can just show all the comments in a widget for and issue. If we add the comments, we can search using words ... Adding @alpgarcia to the conversa

[2017-09-19 16:50] alpgarcia commented on #98
Yep, at first glance the easiest way seems to be a list of text object (in order to make them searchable).

Adding @jgbarah and @dicortazar to the loop as I want to know their opinions about including comments in the existing github enriched index or using a new one. Which use cases do you have in mind?

Do we have a comparison of index sizes with comments and without?

[2017-09-19 21:36] jgbarah commented on #98
I think that instead of thinking about how to visualize comments (or maybe in addition to that) we should think about what we intend to visualize.

For a complete visualization, I think we need what @dicortazar calls "index events", with each "event" (in this case, a comment, or a change to a ticket) as an item in the index.

For a summary visualization, I think that counts of items per ticket, co

[2017-09-24 07:35] robinmuilwijk commented on #98
What would be interesting to see, is how many unique people comment, and how many comments their are on an issue. This is an indicator for community engagement for GitHub commits.

I would be interested in presenting this as total number of issues, total number of comments, and unique total number of commenters. This would provide a indication on engagement overall.

[2017-09-25 21:28] jgbarah commented on #98
@robinmuilwijk I agree with that. But very likely, it would also be convenient to know who is actually commenting, which means we should also keep track of those names (and maybe dates). This would lead to an entry per comment...

[2017-10-19 10:15] assadOW2 opened #107 "Perceval in GrimoireELK"
I followed instuctions here to install virtual environment for GrimoireELK: https://grimoirelab.gitbooks.io/training/content/grimoireelk/installation.html

When running perceval, I have this message:

[code]

I followed previous tutorial, https://grimoirelab.gitbooks.io/training/content/perceval/first_steps.html, and perceval works fine.

[2017-10-19 10:23] assadOW2 opened #108 "mbox backend and p2o.py"
I followed Peceval tutorials and created mbox files in a directory named "archives" (https://grimoirelab.gitbooks.io/training/content/perceval/mail.html)

I would like to use p2o.py to create an index from mbox backend
Unfortunately, I have this error:

[code]
For the record, I have no issues with git backend, as in the tutorial.

[2017-10-19 13:48] acs commented on #108
Checking your command, I have found an error:

`p2o.py --enrich --index mbox_raw --index-enrich mbox e http://localhost:9200 --no_inc --debug mbox httpd-announce archives
`
this must be:

`p2o.py --enrich --index mbox_raw --index-enrich mbox -e http://localhost:9200 --no_inc --debug mbox httpd-announce archives
`
The typo is in "-e". Could you confirm that the errata is also in the tutorial?

[2017-10-19 14:40] assadOW2 commented on #108
A bad copy/paste from me, the tutorial typo is correct for git:

[code]
Thanks for the quick answer, it's working with correct typo.

[2017-10-19 14:40] #108 closed

[2017-10-20 19:37] #84 closed

[2017-10-20 19:43] robinmuilwijk opened #111 "Question: correct p2o command to load Discourse data?"
Hi,

I want to add Discourse data to my dashboard. I read some of the doc files in the perceval and grimoire-elk repo's, but they are not consistent. Would the following command work?

`p2o.py --enrich --index discourse_raw --index-enrich discourse -e http://localhost:9200 discourse 'https://my.discourse.com' --from-date '2017-01-01'`

In the backend file for Discourse, I read about the param api_

[2017-10-25 12:32] assadOW2 opened #112 "p2o.py github backend: issue with reactions"
When fetching issues from github I have the follwing issue:
_Error feeding ocean from github (https://github.com/elastic/logstash): 'reactions'_

I am using latest version of GrimoireLab, elasticgirl 18.1

Here is complete log from terminal:

[code]

[2017-10-25 12:45] valeriocos commented on #112
Hi @assadOW2, thanks for reporting this issue.
A similar issue was reported yesterday (https://github.com/grimoirelab/perceval/issues/187). If you use a token, you should be able to get reactions data.

[2017-10-25 13:38] assadOW2 commented on #112
Thanks for the quick reply.
It worked fine for me with the token.

[2017-10-25 13:38] #112 closed

[2017-10-31 21:27] jgbarah commented on #101
Thanks! Both are dependencies that are only needed for tests. grimoire-elk may work with them or or not. You're completely right, we will add them (maybe in test_requires).

[2017-10-31 21:29] jgbarah commented on #107
We had a problem with namespaces when packaging that version. Could you please check with the latest pip packages, and report back if the problem persists, or it works?

[2017-10-31 23:15] jgbarah commented on #93
Sorry for the delay in answering. Is your Gerrit instance public? If so, could you please provide me with its url, so that I can check and see if I can reproduce the error?

Thanks in advance.

[2017-11-02 08:04] assadOW2 commented on #107
It's working now, I just tried it with elasticgirl 19.1 release.

[2017-11-02 08:04] #107 closed

[2017-11-02 11:11] jgbarah commented on #107
Thx!!

[2017-11-06 19:24] jgbarah commented on #101
@sebix, if you have some spare mintues, please check if #115 addresses your concerns in this issue.

[2017-11-08 11:08] albertinisg opened #119 "[enrich] Getting the following error with Meetup items"
Using `elasticgirl.19` release, I'm getting the following error:
[code]

[2017-11-09 18:30] #101 closed

[2017-11-14 11:09] sanacl opened #121 "Error finding out Gerrit version due to port parameter"
Using `elasticgirl.19` I've seen that the Gerrit collection and enrichment is not working. This is due to the following GrimoireELK error:

[code]

I've manually executed the command with the same result. But, if we remove the port it works ...
[code]

[2017-11-14 11:09] sanacl commented on #121
Well .. maybe this is Mordred bug instead of GrimoireELK one ..

[2017-11-20 12:47] acs commented on #119
A pretty strange error. Probably it is related to the phab version.

In which environment has this error appeared?

[2017-11-20 12:54] acs commented on #119
Fixed in https://github.com/grimoirelab/GrimoireELK/commit/cf5dbbfcbff9c170d0c74a3b76dd3e9fe6bdf178

@albertinisg could you review it and close the ticket?

[2017-11-24 10:59] alpgarcia opened #125 "Add gelk version to panel JSON exported by Kidash"
It would be very useful to store Gelk version together with panels. This way we will know whether data in an index is fully compatible with that panel.

Kidash could export highest version found in the index where the panel is exported from and store it as a new field in panel's JSON file. As one panel can deal with several indices, the object could be something like:
[code]

This feature outcome

[2017-11-27 18:27] jsmanrique opened #134 "Not getting Kibana panels "title""
I have an ES 5.5.2 with 4 dashboards. I am trying to get them using panels.py module, but I only get the ids, not the title info

[code]

If I run the query by hand (`http://localhost:9200/.kibana/dashboard/_search?size=10000`), I get this:
[code]

[2017-11-27 18:44] jsmanrique commented on #134
Just to add more *interesting* behavior. If I run this, it works:
[code]
This is basically the code that [list_dashboards](https://github.com/grimoirelab/GrimoireELK/blob/054e88c936e9bcf10e1295699468496a28e32e81/grimoire_elk/panels.py#L405) executes, isn't it??

[2017-11-28 08:50] acs commented on #134
Yes @jsmanrique . It does some error checking but the code is what you are executing. Pretty simple in this case.

[2017-11-28 11:08] acs commented on #134
Reading your issue, this is fixed in the last version of kidash:

[code]

[2017-11-28 11:08] #134 closed

[2017-11-28 11:11] acs opened #137 "grimoire-kidash pip package not working"
Trying to use the pip package grimoire-kidash:

[code]

[code]

[2017-11-28 11:16] jgbarah commented on #137
Hmmm. How did you install that package? See what I find:

[code]

So, it seems to work...

[2017-11-28 11:20] acs commented on #137
Doing the same but before installing grimoire-elk:

[code]

Ups, it seems it was an issue with my local config!

I am sorry about the noise. Closing this issue.

[2017-11-28 11:20] #137 closed

[2017-11-28 16:52] sanacl opened #138 "NoneType error analyzing Maniphest"
How to reproduce:

* version: elasticgirl.23
* sources: Bitergia's phabricator

Traceback:
[code]

[2017-11-29 00:37] sanacl commented on #138
The issue is related to fields containing a list with None values. We end up with this variables due to the Data stored in ES sometimes has a '[null]' which in ES is the same as '[]'. Unfortunately this is not the case in Python, so we iterate the list and it crashes. A general solution would be avoiding having [null] and forcing '[]'.

This can be reproduced getting the ticket T287 of Bitergia's

[2017-11-29 10:40] acs commented on #138
Fixed in https://github.com/grimoirelab/GrimoireELK/commit/84a1d736afdb11b23ea0e081bcb6ff01d415d27d

[2017-11-29 14:46] albertinisg opened #139 "Error enriching a Git item"
Using `elasticgirl.23`. Traceback:

[code]

[2017-11-29 15:16] sanacl commented on #138
Executing the same scenario I got the same error in a different line. 🤕

[code]

[2017-11-29 16:43] sanacl commented on #139
@albertinisg I would be more strict with the titles, the first words "Got the following error" add nothing to the topic.

[2017-11-30 06:16] acs commented on #139
@albertinisg reading the logs, my bet is that Elasticsearch connection has failed and this is why the response from it is not a correct JSON document. Could you replicate the problem? If so, the cause of the error is different.

[2017-12-05 13:11] sanacl opened #146 "Project mapping is not working for Bugzilla (it shows unknown project)"
The project widget shows a project named `unknown` instead of the project name defined in the project spreadsheet.

![screenshot png](https://user-images.githubusercontent.com/326719/33608366-9a3f21c8-d9c4-11e7-99db-f2a7eb76dd10.png)

* Data sources: https://github.com/Bitergia/projects-mozilla/blob/master/projects.json
* Deployed version:

[code]

[2018-01-09 10:10] valeriocos opened #156 "Elasticsearch 6.x and bulk indexing"
Bulk indexing is broken when using ES 6 (6.1.1) grimoirelab/perceval#270

The error can be reproduced by executing the method _test_run_ in [mordred/tests/test_task_collection.py](https://github.com/grimoirelab/mordred/blob/master/tests/test_task_collection.py)

[code]

[2018-01-16 09:34] zhquan commented on #119
The fix works

[2018-01-16 09:34] #119 closed

[2018-02-01 10:44] acs opened #171 "Use #!/usr/bin/env python3 in all python executables"
In order to use the python location in specific deployments, like virtual envs, it is needed to start the python executables with:

`#!/usr/bin/env python3`

instead of

`#!/usr/bin/python3`

[2018-02-08 11:59] acs opened #174 "Add git_author_domain to enriched data in Areas of Code study"
In the Areas of Code study a field like the one added to GrimoireELK enriched must be added:

https://github.com/grimoirelab/GrimoireELK/commit/8956866d9347dad91258aad2fe4f143ad6c3b1d9

[2018-02-15 12:17] innovationchef opened #217 "ImportError: No module named 'grimoire_elk.panels'"
I followed the [installation doc](https://grimoirelab.gitbooks.io/tutorial/content/before-you-start/installing-grimoirelab.html) and got everything running on my system. I am trying to run an example given in doc to [create a simple dashboard](https://grimoirelab.gitbooks.io/tutorial/content/grimoireelk/a-simple-dashboard.html) but I am getting this ImportError error while trying to build the dash

[2018-02-15 14:46] dicortazar opened #218 "Add gender support in the identities module in GELK"
According to chaoss/grimoirelab#69, there is a need to support gender in the GrimoireLab toolchain. And grimoirelab-elk is one of the pieces of this toolchain.

With this respect, this task expects as outcome to have an update in the identities module where GELK asks SortingHat through the API about certain aspects of the community member.

This is just an initial requirements, so further discussi

[2018-02-15 22:03] jgbarah commented on #217
This is due to a change in the name of the package that I had not reflected in the tutorial. Sorry about that. I just updated it.

The current name of the package is `kidash` (not `grimoirelab-kidash`), and the name of the program (once the package is installed) is also `kidash` (instead of `kidash.py`). So, create a fresh virtual environment, and in it run:

[code]

Let me know if that doesn't wo

[2018-02-16 08:37] innovationchef commented on #217
This is what I am getting now -
[code]

[2018-02-16 11:08] jgbarah commented on #217
Do you have a file `/tmp/git-dashboard.json`? The first message you get suggests you don't...

[2018-02-16 23:23] innovationchef commented on #217
I don't have that file. Shouldn't have it been created after I executed the the first two commands - `p2o.py --enrich --index git_raw --index-enrich git -e http://127.0.0.1:9200 --no_inc --debug git https://github.com/grimoirelab/GrimoireELK.git ?

[2018-02-17 09:46] innovationchef commented on #217
Okay, so it was my mistake. I copied the git-dashboard.json is a wrong tmp direactory. I can see the dashboard now. Thanks.

[2018-02-17 09:46] #217 closed

[2018-02-20 18:27] venky18 opened #219 "unable to create indexes in ElasticSearch"
I am following the commands mentioned in the [docs](https://grimoirelab.gitbooks.io/tutorial/grimoireelk/a-simple-dashboard.html)
[code]

the output I should get
![elasticsearch-index](https://user-images.githubusercontent.com/9168631/36441308-363f484a-1698-11e8-9f75-e605fcff1117.png)
the output I am getting
![screenshot from 2018-02-20 23-49-07](https://user-images.githubusercontent.com/9168631/3

[2018-02-23 21:29] hmitsch opened #221 "Removal of the code that generates the "conf" index"
**Desirement Source:**
https://github.com/mozilla/participation-metrics-org/issues/157

**Short Description:**
A vulnerability assessment conducted by [Mozilla's Enterprise Information Security](http://infosec.mozilla.org/) team revealed, that

"git command - fatal: could not create leading directories of '/home/bitergia/.perceval/repositories/https://github.com/MozillaFoundation/Design.git-git'\n

[2018-02-25 19:56] jgbarah opened #222 "Latest perceval seems to break grimoire_elk"
When trying to use the master/HEAD for perceval, perceval-mozilla and perceval-opnfv, it seems grimoire_elk fails. For example, when running p2o.py:

[code]

I can patch grimoire_elk/arthur.py to get rid of this error:

[code]

But I still get more errors:

[code]

Any idea?

[2018-02-26 13:14] sduenas opened #224 "Add Archive mode"
Perceval 0.9.11 adds `Archive` mode, removing the `Cache` one. Grimoire ELK still uses the `Cache`, so newer versions of Perceval cannot be used.

The purpose of this issue is to integrate `Archive` in GELK and remove the Cache. `Cache` never worked as expected so it's safe to remove it.

[2018-02-26 13:26] sduenas opened #225 "Refactorize how items are fetched from Perceval"
The current implementation for fetching items from `perceval` backends is messy. It uses `BackendCommand` to parse the arguments and calls directly to `fetch` and `fetch_from_cache` methods of 'Backend' class. See:

https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/arthur.py#L119
https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/ocean/elastic.py#L154

There are be

[2018-02-26 13:31] sduenas commented on #222
Latest version of Perceval does not create an instance of a backend for a given `BackendCommand` class. This instance is created when the command is run and not during the object initialization.
Moreover, GELK code needs an instance of a backend and not the backend class. That's what `Backend.BACKEND` is: a class object and not an instance.

The issue #225 will try to fix this problem, refactorizi

[2018-03-04 12:33] utkarshrai opened #231 "Querying using python while running grimoire in Docker"
I was working on calculating the time of close of issues.

When I'm using p2o.py, I am able to load a particular repository in my database and they have all the required fields to work with. This accomplishes the task easily.

When I run grimoire/full in docker and expose the 9200 port I am able to access the ES database from my py/ipynb script. But by default, the entire grimoire project is loade

[2018-03-05 19:10] acs opened #232 "Improve how config params are passed to studies"
In the "areas of code" study we need to access the Elasticsearch with the raw indexes. It is not possible to get this information from the Enrich class, so the best approach is to improve how the general config params for a dashboard (mainly defined in the mordred config file or in the p2o params) are passed to the studies.

[2018-03-07 05:49] jgbarah opened #235 "Add tIme-to-commit field in git indexes"
In chaoss/grimoirelab#79 @BenLloydPearson says:

I think this is certainly doable and convenient. The value of both author and commit time depend a bit on how the commit is merged, but anyway, this can be useful.

WRT the unit of time, I would make it be seconds, and then use representation to convert it to other units, such as days. But we can discuss that in this ticket.

BTW, pull requests for

[2018-03-07 06:00] jgbarah commented on #231
Creating a new issue in chaoss/grimoirelab, where is the info about containers, to follow up there. Labeling as Invalid because this really does not belong here.

[2018-03-07 06:00] #231 closed

[2018-03-07 11:38] #85 closed

[2018-03-07 11:38] #83 closed

[2018-03-07 11:39] #111 closed

[2018-03-07 11:43] robinmuilwijk opened #236 "Question: which backend file should I change to stop loading GitHub usernames and e-mail?"
Ls,

I would like to try some modifications, to for example loading GitHub data. I would like to stop loading usernames and e-mail addresses. Which file would I need to change, and would you have an example? Or is this not possible somehow?

[2018-03-07 13:04] acs commented on #236
@robinmuilwijk e-mail addresses are not included in the enriched indexes for privacy issues. Do you want to stop their loading completely?

[2018-03-07 13:44] robinmuilwijk commented on #236
I should have mentioned Git commits, this includes name and e-mail.

My setup is based on p2o, grimoire-elk and perceval, nothing more. I would like to be able to remove names, e-mail etc, all privacy data basically (not load them at all). Is that possible somehow?

[2018-03-07 13:57] acs commented on #236
@robinmuilwijk but not load them at all is that the privacy data does not appear in any place in GrimoireLab (including raw indexes, sortinghat and enriched indexes). Right?

[2018-03-07 14:42] robinmuilwijk commented on #236
Correct, the reason for this, is the new GDPR by the EU. Ideally, I would keep the email domain, so I can see if the person is company or community, but nothing else of privacy data.

[2018-03-07 15:59] acs commented on #236
I supposed it was related to GDPR. We are also analyzing the implications of the new regulation.

Answering your question, the complete solution will be hard to implement. The first step is avoiding to collect all this information at perceval level, so all the perceval backends must be reviewed to **drop** all the privacy related fields.If this is done at perceval level, all the data from Grimoire

[2018-03-08 07:04] robinmuilwijk commented on #236
I was afraid it would not be that easy to fix, I dug around most of the perceval and grimoire-elk scripts already.

I somehow need to get the entire dashboard comply to GDPR. Asking for consent is probably even harder, and faces other challenges like removing data on request. Hence my 'path' e.g. choice to not load privacy data at all.

I only have a production dashboard, but I could setup a test

[2018-03-08 08:59] acs commented on #236
Yes, we are pretty interested in making GrimoireLab GDPR ready, but not sure when we can start working on it. This is why I asked to you about your plans to try to join efforts. Have you clear what are the requirements of GDPR for GrimoireLab? Probably the first step is to define a plan for adopting GDPR.

[2018-03-09 16:32] alpgarcia commented on #174
Feature added in: https://github.com/dicortazar/ceres/pull/15

Support for that feature here added by: #241

[2018-03-13 18:54] #235 closed

[2018-03-14 05:22] acs commented on #221
@hmitsch once https://github.com/chaoss/grimoirelab-elk/pull/243 gets accepted the index won't be created anymore. And it is safe to remove it from the current deployments.

[2018-03-15 10:59] sduenas commented on #225
Fixed by #227

[2018-03-15 10:59] #225 closed

[2018-03-15 11:00] sduenas commented on #224
Fixed by #227

[2018-03-15 11:00] #224 closed

[2018-03-15 11:01] sduenas commented on #222
Fixed by #227

[2018-03-15 11:01] #222 closed

[2018-03-15 11:17] sduenas commented on #218
Gender was merged by #240 . Closing this issue.

[2018-03-15 11:17] #218 closed

[2018-03-16 13:15] alpgarcia opened #250 "[mappings] Add Truncate Token filter to keyword fields"
Long texts cause errors when indexed as keyword. To avoid this kind of error we would need to truncate those fields tom something like 256 chars.

To do that, I suggest to use mapping features. In this case, we can use a normalizer together with a token filter. It should be something like (I didn't try it, I'm guessing the syntax to pass the argument to the filter):

From https://www.elastic.co/gu

[2018-03-16 13:19] alpgarcia opened #251 "[mappings] Add stopword removal to indexed text fields"
To improve searches and visualization of most used words it would be needed to remove a set of stopwords. Imho, the easiest way to do it is using ElasticSearch features from index mappings:

https://www.elastic.co/guide/en/elasticsearch/reference/5.4/analysis-stop-tokenfilter.html
https://www.elastic.co/guide/en/elasticsearch/guide/current/using-stopwords.html

[2018-03-16 13:23] alpgarcia opened #252 "[elk] Identify unused fields"
In order to clean indices, it would be good to have a list of those fields not used by panels in [grimoirelab-sigils](https://github.com/chaoss/grimoirelab-sigils).

To achieve this, a quick way would be using [owlwatch tool](https://github.com/chaoss/grimoirelab-sigils/tree/master/src/owlwatch) to [compare mappings against panels](https://github.com/chaoss/grimoirelab-sigils/tree/master/src/owlwa

[2018-03-16 17:20] valeriocos commented on #250
I like the idea as a middle-term solution. A short-term solution (while no decision has been taken) is to modify the code of elk connectors by limiting the size of keyword fields when it is needed (https://github.com/chaoss/grimoirelab-elk/pull/254/files)

Maybe a long-term solution could be to refine/review the panels/visualizations to not truncate any data.

@acs, what do you think?

[2018-03-19 06:25] acs commented on #250
I have proposed a change over this approach. If we follow it, in the panels CSV it must be specified also for which text fields this truncation must be done.

Yes, the issue to be fixed is why panels need to aggregate using long text fields.

Not sure, let's try to talk about it today! Thanks @valeriocos !

[2018-03-19 10:54] alpgarcia commented on #250
Because some tables needs to use thinks like issue titles.

There are two benefits of using mappings to truncate this data:
* It allows to index data without using gelk. This would allow to update the indexes with no need of re-enrichment.
* Data schema is clear and not hidden in code.

Of course, this is just my opinion :)

[2018-03-19 13:23] acs commented on #250
Yes, issue titles could be right. But fields with 65K chars ... I suppose that they are exceptions, like the commit description, which is the only text field in a commit with a kind of "title" but that in some cases is larger than 65K.

But the all ready existing mappings cold be changed without recreating them? It will be great to test this kind of stuff.

Not sure if the data schema in our appro

[2018-03-19 15:28] alpgarcia commented on #174
@acs should we close this?

[2018-03-19 16:29] acs commented on #174
All integrates now!

[2018-03-19 16:29] #174 closed

[2018-03-19 20:17] acs opened #257 "eitem['description'][:self.KEYWORD_MAX_SIZE] fails if it is None"
During the mordred testing an error has appeared:

[code]

Before truncating the fields it is needed to test if they have a value.

[2018-03-26 15:38] alpgarcia opened #275 "[askbot] Add `answer_status` field"
Type: Keyword
Values: ['Accepted', 'Not Accepted']

This field should be stored only for **answers**, Questions and comments must not store it.

[2018-03-27 07:31] #257 closed

[2018-03-27 07:36] acs opened #280 "pip package does no include studies mappings"
The pip package generated from:

https://github.com/chaoss/grimoirelab-elk/blob/master/setup.py

does no include the studies mappings located at:

https://github.com/chaoss/grimoirelab-elk/tree/master/grimoire_elk/enriched/mappings

Confirmed with:

https://pypi.python.org/pypi/grimoire-elk/0.30.27

[2018-03-27 07:59] acs commented on #280
Fixed in https://github.com/chaoss/grimoirelab-elk/commit/77449215ecbdb62c6614161b6d9357a8db70dc1c

[2018-03-27 07:59] #280 closed

[2018-03-27 08:00] acs commented on #280
Thanks @alpgarcia for pushing it!

[2018-03-27 12:55] acs opened #282 "[git] Remove latest-items flag if git raw index is empty"
If we are fetching a git repository which we have already fetched it in the past (the repository exists in the perceval archive), if we pass the option `latest-items` to perceval it will only return the new commits that are not already in the archived cloned repository.

If the ocean raw index is empty and we want to get all commits, it won't work because it will only fetch new commits. The workar

[2018-03-27 13:12] alpgarcia commented on #275
Please, update CSV file before closing this:
https://github.com/chaoss/grimoirelab-elk/blob/master/schema/askbot.csv

[2018-03-27 13:21] jsmanrique opened #283 "[documentation] Ask description for each field in data schema"
Data schemas are very useful to understand which data is GrimoireLab producing.

Wouldn't it be nice to have a short description for each field to make easier to understand what it represents?

A possible way to to do that would be to add a new column with just that description in the .csv file

Related: https://github.com/chaoss/grimoirelab-sigils/issues/166

[2018-03-27 13:21] alpgarcia opened #284 "Add aggregatable fields and index name to CSV Schema definition"
[Moved from https://github.com/chaoss/grimoirelab-sigils/issues/144]

From https://github.com/chaoss/grimoirelab-sigils/issues/117:

[2018-03-27 18:45] alpgarcia opened #285 "[Areas of Code] Add CSV to schema directory"
Areas of code is missing an index schema. Create it and update [studies.md file](/chaoss/grimoirelab-elk/blob/master/doc/studies.md)

[2018-03-28 12:53] alpgarcia commented on #275
Solved by #287

[2018-03-28 12:53] #275 closed

[2018-04-09 15:05] #100 closed

[2018-04-10 05:07] #285 closed

[2018-04-10 11:15] dicortazar commented on #283
Hi, @alpgarcia , @valeriocos and me will work on the description, testing and other related tasks here.

This will include actions coming from other tickets such as #284 and  #252 . I'll close those two tickets and add here in the description a table that we'll be updating for each of the data sources.

[2018-04-10 11:33] dicortazar commented on #284
Closing this as duplicated from #283

[2018-04-10 11:33] #284 closed

[2018-04-10 11:33] dicortazar commented on #252
Closing this as duplicated from #283

[2018-04-10 11:33] #252 closed

[2018-04-11 10:34] zhquan commented on #146
With the release "18.03-04" the project mapping is working
![mozilla_bugzilla_projects](https://user-images.githubusercontent.com/5637233/38611658-97ff216e-3d84-11e8-8227-8fde4613c811.png)

[2018-04-11 10:34] #146 closed

[2018-04-12 10:53] dicortazar commented on #283
Gerrit, Git and AOC ready to go.

[2018-04-12 10:54] dicortazar commented on #283
Crates and onion ready to go.

[2018-04-12 15:24] valeriocos opened #315 "Optimizing interaction with sortinghat"
It seems that the performance of elk is considerably affected when interacting with sortinghat (loading identities). Using the code available in PR #314, it was possible to get the results below (time expressed in seconds). As can be seen, collecting data from projects with more than 100000 (different) identities may be a time-consuming process.
Note that the identities are created randomly.

crea

[2018-04-16 14:51] jsmanrique opened #320 "[pipermail] Encoding errors during enrichment phase"
Running an analysis of some public [Ubuntu mailing lists](https://lists.ubuntu.com/), I am getting some error messages like the following one during pipermail enrichment phase:

[code]
(email address was hide, for privacy reasons)

[2018-04-16 15:45] acs commented on #320
Could you specify the mailing list? Or it happens with several mailing lists?

[2018-04-16 16:08] jsmanrique commented on #320
That's all the log info I have. So I don't know which one is failing. I can share the projects.json file with you: [ubuntu-projects.zip](https://github.com/chaoss/grimoirelab-elk/files/1916195/ubuntu-projects.zip)

[2018-04-18 12:23] alpgarcia opened #322 "[enriched] Meetup incremental mode doesn't work if execution fails"
The way it seems it works is:

1. Retrieve all meetups.
2. Write the corresponding enriched items.
3. Extract comments and rsvps.
4. Write comments and rsvps.

Then, if for some reason the execution fails before 4, we won't have most of the enriched items, but we will have all meetups stored in the enriched index. This means that max(metadata__timestamp), when executing in incremental mode again,

[2018-04-23 10:27] acs commented on #232
The approach will be to add new sections per studies to mordred config, and that all params included in those sections, will be passed as a kwargs dict to the study. But all of these must be done in mordred, so opening this ticket in mordred.

[2018-04-23 10:27] #232 closed

[2018-04-23 10:29] acs commented on #232
https://github.com/chaoss/grimoirelab-sirmordred/issues/142

[2018-04-26 16:35] acs opened #330 "Remove emails fields from CSVs"
Following https://github.com/chaoss/grimoirelab-elk/pull/325 we need to remove some fields from the CSVs:

* Committer, Author from git
* user_email, assignee_email from github
* assignee_email, author_email, reporter_email from jira
* From from mbox (nntp, pipermail and hyperkitty could be also affected)

[2018-04-26 16:51] acs commented on #330
It will be included in #325 PR!

[2018-04-26 16:51] #330 closed

[2018-04-27 10:58] jsmanrique opened #332 "Repo_name and Repository are the same thing in different git based schemas"
It would help having the same field name (`repo_name`or `repository`) for the name of the repository in the git related data indexes. Currently, they are different names for the same things in [git](https://github.com/chaoss/grimoirelab-elk/blob/master/schema/git.csv) and [areas_of_code](https://github.com/chaoss/grimoirelab-elk/blob/master/schema/areas_of_code.csv) data schema.

[2018-04-28 04:03] jsmanrique opened #335 "Remove capitalized field names in enriched indexes"
According to indexes schema there are no capitalized field names. But checking the index pattern, there are some field names both Capitalized and lowercased. It causes too much *noise* during data discovery phase

[2018-04-30 10:39] jsmanrique opened #336 "[Stackexchange] Issue getting user['display_name']"
Analyzing [Ubuntu StackExchange instance](https://askubuntu.com/) with Grimoire Mordred, I get the following error message:
[code]
It seems it's expecting a `user['display_name']` and it's empty or it doesn't even exists..

[2018-04-30 11:06] valeriocos commented on #315
Fixed with: https://github.com/chaoss/grimoirelab-elk/pull/318

[2018-04-30 11:06] #315 closed

[2018-05-02 09:26] acs commented on #336
@valeriocos could you take a look?

[2018-05-02 10:53] jgbarah opened #337 "Add functionality for producing enriched indexes as csv files"
Now, GrimoireELK is targeted at producing raw and enriched indexes in Elasticsearch. But in some scenarios, getting a CSV file with the information we usually have in an enriched index would be very convenient, specially if that can be done without accessing Elasticsearch.

Reading the code, it seems this is maybe not straightforward, but not that difficult either. And maybe this could be a first

[2018-05-02 16:49] robinmuilwijk commented on #236
@acs sounds great! Do let me know if I can help reviewing, testing or anything else. I am very interested in having a GDPR compliant version of GrimoireLab.

[2018-05-02 19:54] acs commented on #236
Great! We will inform, probably in the blog, about the progress.

[2018-05-02 22:14] jgbarah commented on #236
While this information is provided, some comments, @robinmuilwijk:

* The status of information made completely public by their "owners" is not clearly described (in my opinion) in GDPR. At least to some extent, it could be understood that when you include an email address in a git commit, your are consenting to everybody downloading that commit to their git repos, to see it everytime the git log,

[2018-05-02 22:28] jgbarah commented on #236
BTW, I'm not a lawyer, you know, but there are many people out there with similar concerns, related either to open data or to data "made public by the data subject". For example:

* [Art 9 of the GDPR](https://gdpr-info.eu/art-9-gdpr/). Note exception (e), "processing relates to personal data which are manifestly made public by the data subject;", and (only maybe, assuming FOSS projects and/or FOS

[2018-05-03 08:18] alpgarcia opened #340 "[studies] No method `latest_date()` in `Connector` class interface"
`latest_date()` method is missing from `Connector` class:

https://github.com/chaoss/grimoirelab-elk/blob/f350511b4904b1335e9d9a62c8956d32e97ccd6e/grimoire_elk/enriched/ceres_base.py#L80

[2018-05-03 08:51] valeriocos commented on #322
I don't think there is much to do. If the execution fails, the enriched index should be recreated from scratch (which is not a problem since we have the raw data).

@acs I would close this issue, if you don't have a better idea/solution.

[2018-05-03 08:55] valeriocos commented on #139
@acs you were probably right, a connection problem caused this error.
Since there is no trace of similar errors in the logs, I'm going to close this issue.

[2018-05-03 08:55] #139 closed

[2018-05-03 08:58] valeriocos commented on #121
There is no trace of similar errors in the production logs, should we close this issue? @acs

[2018-05-03 09:02] valeriocos commented on #138
There is no trace of similar errors in the production logs. I guess the issue was solved at some point in the past.

[2018-05-03 09:02] #138 closed

[2018-05-03 09:07] valeriocos commented on #219
@venky18 sorry for the late reply. Were you able to solve this issue?

The difference in the ouput is due to a different version of ES (the first image is ES 2.x, while the last one is ES >5.x). Recently we have migrated ELK to ES 5.1.1, thus now the expected output is the one you were getting.

[2018-05-03 09:53] valeriocos commented on #93
The error reported doesn't appear in our production logs. Given the fact the issue is old, it may be possible that it had been fixed at some point in the past.
Should we close this issue, @jgbarah ?

[2018-05-03 09:56] acs commented on #121
Yes, I think it was fixed by a change in gerrit backend some weeks ago.

Closing it... if the errors reappears @sanacl reopen the ticket.

[2018-05-03 09:56] #121 closed

[2018-05-03 09:57] acs commented on #322
No, closing this issue.

[2018-05-03 10:50] valeriocos commented on #94
@c3399 sorry for the late reply. Were you able to solve this issue?

[2018-05-03 10:51] #80 closed

[2018-05-03 11:52] valeriocos commented on #82
@herotest , sorry for the late reply.

The command below fetches data from a local repository
```p2o.py --enrich --index git_raw --index-enrich git -e http://localhost:9200 --no_inc --debug git /.../grimoirelab-perceval-git```

The command below fetches data from a remote repository
```p2o.py --enrich --index git_raw --index-enrich git -e http://localhost:9200 --no_inc --debug git https://github.c

[2018-05-03 12:32] valeriocos commented on #57
any news about this issue? shall we close it, @acs ?

[2018-05-03 15:13] acs commented on #57
Closing it because the issue was closed already in perceval: https://github.com/grimoirelab/perceval/issues/72

[2018-05-03 15:13] #57 closed

[2018-05-03 17:28] sduenas commented on #322
This is a bug and it shouldn't be closed this way. I don't see a valid solution to regenerate everything from scratch. That behaviour is obscure. Anyone running it would expect this will working without regenerating the indexes. There must be a better way.

Keep this open until we find a solution. At least we will remember the bug still exist. Otherwise, it would be impossible to know it. Closing

[2018-05-03 22:46] jgbarah commented on #337
Thanks for the links to Ceres, @alpgarcia. Yes, I was thinking about something like that, but I don't know how difficult it would be to implement that in the current GrimoireELK codebase...

[2018-05-06 08:18] robinmuilwijk commented on #236
@jgbarah thanks for the information, the --no-privacy-data option would be very interesting to have. As you say, some of it lies with the data controller. And I'll have a look at that art. 9. That looks interesting.

I'll keep an eye on the blog for any further updates.

[2018-05-11 13:03] jsmanrique opened #349 "Issue running areas of code study"
I am getting the following error running an `areas of code` analysis:

[code]

Config files:
* [projects.json.txt](https://github.com/chaoss/grimoirelab-elk/files/1995372/projects.json.txt)

[2018-05-11 14:47] alpgarcia commented on #349
It seems it is working in my local env, with ES 5.1. Next time you find this error it would be useful to look for log lines like:
https://github.com/alpgarcia/GrimoireELK/blob/112bfb45c3b62bdffcf2451e08fe6d3e9c61c4f3/grimoire_elk/enriched/study_ceres_aoc.py#L148
https://github.com/alpgarcia/GrimoireELK/blob/112bfb45c3b62bdffcf2451e08fe6d3e9c61c4f3/grimoire_elk/enriched/study_ceres_aoc.py#L154
[cod

[2018-05-15 14:53] jsmanrique opened #350 "[enriched] Wrong affiliation assumptions"
I've discovered the following information in a git enriched index I've generated with GrimoireLab environment (I am hiding name and username part of the email due to privacy concerns):
[code]

In SortingHat database, both Intel and Google Inc. organizations are set up, and their domains are recorded too (`intel.com` for Intel and `google.com` and `chromium.org` for Google Inc.).

I think that sayi

[2018-05-18 08:49] alpgarcia commented on #349
Nope, because we are not supporting ES 6 yet, but we need to add this to the checks asap.

[2018-05-18 11:12] sanacl opened #353 "Check whether the enrichment produced the expected result"
Due to the number of studies will increase during the next months, it is needed to design a way to allow the system to check whether the result obtained is the expected. The example of this is the "areas of code" analysis, where it is quite difficult to know whether the data set is correctly produced based on the raw data.

The idea of checking whether the result obtained is "correct" can be appli

[2018-05-21 15:43] jsmanrique commented on #349
Yes, I was

[2018-05-23 08:37] #336 closed

[2018-05-23 16:16] alpgarcia commented on #349
I've tried again using the following images (latest images currently available):
[code]
And running `p2o` against your RAW git index. I didn't get any error after processing 17.5k items, so we can be pretty sure the code works also here.

At this point it seems an error inherited from your environment. @jsmanrique,  could you please paste here the result of executing `pip3 freeze` inside your exec

[2018-05-23 20:37] jsmanrique commented on #349
[code]

[2018-05-23 20:40] jsmanrique commented on #349
My `mordred.cfg` file:
[code]

[2018-05-24 10:26] alpgarcia commented on #349
After updating pandas to `0.23` the code is still working properly. I think this issue should be in https://github.com/chaoss/grimoirelab-sirmordred as I am unable to reproduce it using gelk.

@acs what do you think?

[2018-05-24 11:10] acs commented on #349
Hmmm, it could be an option. But if we can not reproduce it in our supported envs, I will close the ticket and recommend to use the supported envs.

[2018-05-24 11:13] alpgarcia commented on #349
Moving it to mordred as I understand @jsmanrique is using a supported mordred version.

[2018-05-24 11:13] #349 closed

[2018-05-24 11:56] acs commented on #349
Hmmm, the supported version must be of the full platform: grimoirelab + elasticsearch + kibana. Basically, we are supporting now ELK 5.1.1 and ELK 6.1.0. In any case, let's continue with this issue in mordred. Thanks @alpgarcia !

[2018-05-24 18:50] alpgarcia commented on #353
By the time being, we have logs like:
[code]
This is from areas of code, but most of gelk processes could share similar information.

From my point of view, I suggest to audit all executions in a database, in such a way we have a minimum information of what happened, let's say:
| Task | start date | end date | read | processed | written |

We can add more columns if we find more useful information

[2018-05-28 12:02] sanacl commented on #353
@alpgarcia I think your idea would improve the tool, but I would drop those results to the log and use ELK to send them to a ElasticSearch database. In any case your aim is wider than the check we are discussing here.

How can the new studies check the data they are analyzing? how this information is logged by the orchestration tool (mordred in this case) ? I would work on these two questions firs

[2018-05-29 14:36] alpgarcia commented on #353
First things first, maybe you want something else but:

If you look for the log line I pasted above, that's the summary after finishing the study and tells you everything the study knows about what was done. It can be improved, can be misleading, or even buggy, but the code for that line comes from:
https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/ceres_base.py#L107

So

[2018-05-30 10:15] jsmanrique opened #361 "Typo in JIRA csv schema"
There is a field named: `isssue_type` (with 3 `s`'s)

I think it should be `issue_type`

[2018-06-04 12:02] jgbarah opened #363 "[studies] Studies raise exception when cannot verify SSL certificate"
When using indexes in Elasticsearch accessed via SSL, studies fail if the certificate cannot be verified. In the rest of elk, we have a flag to deal with these cases (`insecure` parameter in `enriched.utils.grimoire_con`). It seems there is nothing similar for studies, and we would need it.

The problem manifests with an exception such as (when called from Mordred):

[code]

[2018-06-04 14:54] aswanipranjal opened #364 "Better enrichment of Git and GitHub raw indices to calculate metrics for Manuscripts"
Hey all
I've been trying to calculate the GMD metrics and to add them to Manuscripts.
There are some fields and values that I think should be added to the enriched index when it is being created so that it becomes easier to calculate the metrics related to those fields. The metrics can be derived from some other field in the enriched index, but never the less, I think there is a need to produce be

[2018-06-05 08:52] alpgarcia commented on #361
The problem comes from source code:
https://github.com/chaoss/grimoirelab-elk/blob/13b6d2e5344eb306074a71fd6aa33b963f53a9c0/grimoire_elk/enriched/jira.py#L193

This CSV was created from code and not the other way around...

And panel is also affected :woman_facepalming: :
https://github.com/chaoss/grimoirelab-sigils/blob/477623d053cac86d47e0dc23f2734d4a8a89ac4e/json/jira.json#L23

Thansk @jsmanriq

[2018-06-05 09:04] valeriocos commented on #361
@alpgarcia next time consider to submit a PR, thanks!

[2018-06-05 09:07] alpgarcia opened #367 "Onion for the whole history"
@acs suggested to have onion study computed for the whole history of data of a given index as entry point for onion analysis before going into deeper details.

[2018-06-05 09:13] alpgarcia opened #368 "Organization information in onion global numbers"
When computing onion for the whole community we use `_Global_` for project and organization field in order to make them different from numbers computed for particular organizations and/or projects.

@jsmanrique suggested to have organization information stored in order to know how many people of a particular organization belong to a given group within global onion results.

It could be done using

[2018-06-05 21:28] jgbarah commented on #364
For resolution efficiency, we still need to settle on a definition, @aswanipranjal. Please have a look at my last comment in chaoss/wg-gmd#5. Similar for code review efficiency.

For all metrics on pull requests, I think we can start a new issue. Besides, I know @acs and @valeriocos are planning to work on that, and me too (although I don't know when), we could use that issue to coordinate.

[2018-06-05 21:32] jgbarah opened #369 "[studies] Access to Elasticsearch via SSL not verifying certs"
For all datasources, when access to Elasticsearch (either for enriched or raw indexes) is done via SSL, we have an option to avoid checking certificates. That's useful when we're accessing an Elasticsearch instance with, for example, a self-signed certificate.

But for studies, it seems we don't have something similar. That means we cannot run studies when Elasticsearch is accessed like that.

So,

[2018-06-07 10:00] #361 closed

[2018-07-06 09:46] aswanipranjal opened #394 "[github pull requests] Add support for github pull requests"
Currently grimoire-elk supports parsing github issues data and is unable to parse pull requests data if fetched using perceval.
This issue is regarding added support to calculate enriched data for github pull requests.

To start, I think we have the following points to consider:-
- [x] We can fetch the pull_request data from perceval using the --category pull_request flag
- [X] We can have a diffe

[2018-07-06 11:33] aswanipranjal opened #396 "[github pr raw] Error while inserting raw data for pull_requests category into elasticsearch index"
I am using `p2o.py` to create a raw index for the `pull_request` data that can be fetched from perceval using the `--category pull_request` flag.

This is the command that I run:-
[code]

This is the error that is generated:

![screen shot 2018-07-06 at 4 59 03 pm](https://user-images.githubusercontent.com/9946566/42376763-fbdf1520-813d-11e8-9ee3-10d0f9bbb774.png)

AFAIK what is happening is that

[2018-07-06 14:12] valeriocos commented on #396
By default ELK maps all string attributes as keywords to ElasticSearch. However, in some cases ES complains about the size of those attributes (a keyword cannot exceed 32766), thus we have to tune the mappings to avoid this type of errors.
We generally set the mappings for those attributes to text (see 1 below), which allows to search for them through Kibana.  In some cases, when we are not intere

[2018-07-06 14:55] aswanipranjal commented on #396
Thank you @valeriocos! That solves it!

[2018-07-06 14:55] #396 closed

[2018-07-12 09:21] #394 closed

[2018-07-12 11:42] aswanipranjal opened #405 "[github enrich] How should we get the comments on Pull requests?"
Currently, when we fetch the data from github for only **Pull Requests** using the `--category pull_request` flag, we do not fetch the comments on the pull requests, just the number of comments. We get the review comments but not the normal comments.

We need to get the comments on PRs to calculate some of the metrics under [GMD code development](https://github.com/chaoss/wg-gmd/blob/master/2_Grow

[2018-07-12 12:02] valeriocos commented on #405
I would vote for the first option. If we add issue comments to pull request data, we may end up issuing the same requests to the API (if we always need to fetch issue and pr data), and so we consume the token faster.
What are your thoughts @aswanipranjal , @jgbarah , @acs , @sduenas ?

[2018-07-12 12:48] valeriocos commented on #405
@aswanipranjal , having pull request and issue data in two different indexes is ok for you, or do you see some problems to calculate the metrics in this way?
Consider that even if the comments are in the same index, they are probably going to be stored in different attributes because the GitHub API does not allow to retrieve all kinds of comments all together:
- https://developer.github.com/v3/iss

[2018-07-12 13:05] valeriocos commented on #369
@jgbarah , is it possible that this issue has been already solved/addressed?
I remember that @alpgarcia did some work on it:
- https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/git.py#L832 (areas of code)
- https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/git.py#L664 (demography)
- https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_e

[2018-07-12 15:31] aswanipranjal commented on #405
Depends. @jgbarah suggested that all the data related to PRs should stay in the PRs index. If we go with the first approach, then some of the PR related metrics will be calculated from the issues+pr index.

For example, for PRs only, the Metric [Maintainer Response to Merge Request Duration
](https://github.com/chaoss/wg-gmd/blob/master/activity-metrics/maintainer-response-to-merge-request-duratio

[2018-07-17 16:47] alpgarcia commented on #369
This seems to be a duplicate of #363

[2018-07-18 11:31] jgbarah commented on #405
Let's clarify a bit, because I'm not sure we're all in the same page here.

The assumption is that we will have two raw (Perceval) indexes:

* `github`, the current GitHub index, from the GitHub issues API.
* `githubpr`, the new GitHun PR index, from the GutHub Pull Requests API.

Now, with those, we would be producing a *new* enriched index, `githubpr`, with all the data needed to deal with PRs.

[2018-08-03 15:33] #340 closed

[2018-08-06 18:01] aswanipranjal commented on #364
closed by #419.

[2018-08-06 18:01] #364 closed

[2018-08-06 18:01] aswanipranjal commented on #405
closed by #419

[2018-08-06 18:01] #405 closed

[2018-08-20 15:55] sanacl opened #422 "Immutable data entries should not be modified"
For those items that are immutable (mailing list messages, irc messages, etc..) we need to avoid modifying them. Currently when no new items are collected, the items collected during the day specified by the timestamp version are overwritten. The side effect of this is the timestamp field modified even if no now data was collected and enriched.

[2018-09-07 11:02] jsmanrique opened #435 "Time_to_first_attention field missed in github_issues.csv and in github_issues index pattern"
Playing with CHAOSS GitHub Issues data, I've discovered that there is a field named `time_to_first_attention`:
https://chaoss.biterg.io/goto/7157ddf91358b1dd631b82152d6d85b3

That's great because I can chart the average [Issue Response Rate](https://github.com/chaoss/wg-gmd/blob/master/activity-metrics/first-response-to-issue-duration.md) metric:
![time_to_1st_attention_chart](https://user-images.

[2018-09-13 12:11] sduenas opened #436 "Wrong project value for Stack Exchange answers"
The project value is set to the default value (in this case `Main`) even when the repository is defined in the list of projects. This is caused because enriched Stack Exchange answers do not contain the field `origin`.

[2018-09-13 12:16] sduenas commented on #436
The problem is `RAW_FIELDS_COPY` are not being copied into `answer` items.

See:
https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/stackexchange.py#L114
https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/stackexchange.py#L173

[2018-09-15 09:05] #436 closed

[2018-09-18 12:36] jsmanrique commented on #435
Another issue related: the field is not set as `number` so, it can't be used in charts where _numbers_ are required/expected (like gauges).

[2018-10-18 03:36] markwalkom opened #461 "Google maps lookup needs an API key"
This may be in the wrong repo sorry, I didn't know which part of the stack did the lookup but I am guessing here based on the error.

I noticed this in my logs;

[code]

If you visit `https://maps.googleapis.com/maps/api/geocode/json?address=Wellington%2C+NZ&sensor=false` you get this response;
[code]

[2018-10-18 07:56] jgbarah commented on #461
Maybe this is a recent change in Google Maps policy? In any case, maybe we should switch to [Nominatim](https://nominatim.openstreetmap.org/), maybe in addition to still supporting Google Maps, adding options for providing a key.

[2018-10-19 04:05] acs commented on #171
All done by @valeriocos in other ticket. Closing this one.

[2018-10-19 04:05] #171 closed

[2018-10-20 05:35] mrhillsman commented on #461
Yes, not sure how recent the change was but I have been seeing this error for some time in the logs and just got around to investigating and was about to report issue but see @markwalkom already did so +1 from me. It will also be worth mentioning or reviewing - https://operations.osmfoundation.org/policies/nominatim/ - if Nominatim is decided as a solution going forward. In particular the one requ

[2018-11-07 22:14] filmaj commented on #435
I have the same issue - on my grimoirelab instance, the field shows up with a '?' as type.

<img width="915" alt="screen shot 2018-11-07 at 4 03 05 pm" src="https://user-images.githubusercontent.com/52645/48163925-a8d85b00-e2a6-11e8-8357-bd9d7c0de6a3.png">

Maybe because, as can be seen in my screenshot, some of the values in this field are empty? That seems to get set in this relevant PR: https:/

[2018-11-08 17:03] filmaj commented on #435
I see, I can recreate your chart @jsmanrique via the Edit button (top-right) -> Timelion. Cool, good to know!

Worth mentioning that the Timelion autocomplete, when you're writing up the query, won't show the `time_to_first_attention` field, probably because it cannot infer that the type of the field is numerical.

[2018-11-08 17:36] jsmanrique commented on #435
Yes, @filmaj, Timelion is your friend here. The autocomplete doesn't work because the lack of field type ..

[2018-11-13 08:04] sanacl opened #508 "Credentials must not be printed in the log"
Current version print the credentials in the log messages, this is not a good idea because you never know where the logs are going to be shipped so this is making easier an intrusion.
[code]
I would change it to show the first two characters for the user name (to allow some debug actions) and none for the password. Some like:
[code]

[2018-11-15 15:52] sanacl opened #514 "Wrong Gitlab url for MR repositories"
The repository URL is not being correctly handled, so gelk is trying to get a resource that does not exist. For a repository like this: `"https://gitlab.com/Bitergia/devops/sortinghat-utils"` it is trying to get the content from the endpoint `com/api/v4/projects/devops%2F` instead of `com/api/v4/projects/Bitergia%2Fdevops%2F` and we get this beautiful 404 error.
[code]
This has been seen in the Mo

[2018-11-15 15:54] sanacl commented on #514
@valeriocos please read again the description :P

[2018-11-15 15:58] valeriocos commented on #514
I don't think the Perceval backend tracks subprojects (https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/gitlab.py#L88). The issue should be reported in perceval, and maybe labeled as enhancement.

[2018-11-16 08:37] valeriocos commented on #514
@sanacl , could you try to write the url in the following way:
https://gitlab.com/Bitergia/devops%2Fsortinghat-utils and check if it works for you?

[2018-11-16 10:48] valeriocos commented on #514
I have tried to add to the projects.json the project you mention in the following way and no errors popped up:
`https://gitlab.com/Bitergia/devops%2Fsortinghat-utils`

@sanacl, I close this issue, feel free to reopen it.

[2018-11-16 10:48] #514 closed

[2018-11-19 10:15] GregSutcliffe opened #522 "502 bad gateway with p2o.py"
I'm trying to use p2o to index a large repo (ansible/ansible, which is ~50k PRs) and it's barely even getting started. I've verified that Elastic is running, and that I can load data into it for a small repo. When I use this command:

(chaoss) root@stats:/opt# p2o.py --enrich --index github_raw --index-enrich github -e http://localhost:9200 --no_inc --debug github -t mytoken --category pull_reques

[2018-11-19 10:33] valeriocos commented on #522
Hi @GregSutcliffe , thank you for reporting this issue.

I was able to replicate your error using just Perceval. You can find below the Perceval command;
`perceval github ansible ansible --category issue -t 41705dvf1594b047e... --sleep-for-rate`

500 HTTP errors are related to problems with the upstream servers (in this case GitHub), we have a similar issue with another repo (kubernetes/kubernetes

[2018-11-19 10:34] valeriocos commented on #508
this issue has been addressed with https://github.com/chaoss/grimoirelab-elk/commit/7affebb9f75c2140a898900551e1afcfe5fe8a4d

[2018-11-19 10:34] #508 closed

[2018-11-19 10:35] GregSutcliffe commented on #522
So this is purely a GitHub issue? I was afraid of that. Is there a workaround? Can I drop the `--no_inc` and try to build up the index slowly?

[2018-11-19 10:40] valeriocos commented on #522
There is a work-around which works from time to time and allows to retrieve more issues/pull requests. It consists in executing the collection process with different `from-date` values . For instance, the first execution you set the from-date to 2018-01-01, the second execution 2017-01-01 and so on. The solution is not perfect but for ad-hoc analysis may be helpful.

[2018-11-19 10:41] GregSutcliffe commented on #522
Thanks, presumably that's without `--no_inc` so that the existing data isn't wiped out? I'll give it a try :)

[2018-11-19 10:58] valeriocos commented on #522
if you set the `from-date`, the process is not incremental, but it will always start from that date. The platform does delete the data, but overwrites the one that already exists in ElasticSearch.

Good luck! :)

[2018-11-19 11:01] GregSutcliffe commented on #522
Ah, so this is just a way to limit the size of the query? That makes sense...

Once I have an initial data set, how do I keep it updated? I want to set up something in cron to get the latest data to Elastic - do I just use drop `--no_inc` and `--from-date` from the original comamnd, or will that revert to trying to query the whole repo?

[2018-11-19 11:10] GregSutcliffe commented on #522
I've kicked it off with a from-date of 2018-01-01 just to test, and that seems to be working. Will let you know if it finishes :)

Where do I report the API issue to GitHub, by the way?

[2018-11-19 11:17] valeriocos commented on #522
Yes, with the from date attribute the data retrieved from the GitHub API is smaller.

Ideally (if there were no issue with the GitHub repo) you could use [mordred](https://github.com/chaoss/grimoirelab-sirmordred) (which orchestrates the collection/enrichment/visualization processes with incrementality). In tthe current context, maybe you could set up several cron tasks with different `from-date`.

[2018-11-19 11:19] GregSutcliffe commented on #522
When you say "overwrite" does that mean only overwrite the matching data, or will it drop older data? In other words, if I run `--from-date 2018-01-01` today, and `--from-date 2018-11-01` tomorrow, will the second command remove all data older than 2018-11-01? My goal is to build up the archive over time...

I'll report the issue now, thanks for the link!

[2018-11-19 11:35] valeriocos commented on #522
if the index already exist (which should be your case), it will overwrite the matching data
https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/elk.py#L111

The method `feed_backend` is called by p2o here: https://github.com/chaoss/grimoirelab-elk/blob/master/utils/p2o.py#L58

you're welcome!

[2018-11-19 11:38] GregSutcliffe commented on #522
Aha, so I can build up the dataset over time, perfect! Thanks for the info. If I get a chance I may see about implementing a `--until-date` option so that we can query older data in windows, would that be useful as a patch?

[2018-11-19 11:45] valeriocos commented on #522
Nice idea! We have something similar implemented for Git (https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/git.py#L78), and the generic backend already supports this feature (https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backend.py#L237)

what you propose sounds useful to me, however it is better to ask @sduenas.
what do you think @sduenas ?

[2018-11-19 11:47] GregSutcliffe commented on #522
Oh, that doesn't sound like it'd be too much work at all then! However now I'm waiting 40 mins for my rate limit to refresh :P

[2018-11-19 14:29] GregSutcliffe opened #523 "Issue indexing a specific PR, NoneType is not subscriptable"
I'm trying to index a large repo (see #522 for details) and I've made progress using `--from-date`. Now I'm hitting an error with a specific PR:

[code]

I don't really know how to troubleshoot this, as I'm not really sure what it's trying to do... any ideas?

[2018-11-19 14:59] valeriocos commented on #523
@GregSutcliffe thank you for reporting this issue.

The error is due to a pull request comment which doesn't contain the user attribute (`comment['user']['login']`) (see last comment at: https://api.github.com/repos/ansible/ansible/pulls/41441/comments).

Checking the PR in GitHub (https://github.com/ansible/ansible/pull/41441), the user appears as ghost (which is the default user for those accoun

[2018-11-19 15:12] GregSutcliffe commented on #523
Thanks for the explanation. I've opened https://github.com/chaoss/grimoirelab-perceval/issues/459 to track it.

I'm out of time for today, but I'll see about adding the workaround to the source tomorrow. Thanks!

[2018-11-19 15:14] valeriocos commented on #523
great! thank you @GregSutcliffe . I'm going to close this issue, feel free to reopen it if needed.

[2018-11-19 15:14] #523 closed

[2018-12-03 17:23] sanacl opened #526 "Incorrect module name printed in the log"
Logger is not correctly setup for the queries below, the module printed in the log "elaticsearch" is incorrect. This non-existent module adds a lot of log messages to the Mordred log that should be not printed when debug mode is disabled.

[code]

The aim of this ticket is to make sure the grimoirelab-elk module is printing correctly the module name for these lines.

[2018-12-11 06:01] #219 closed

[2018-12-13 12:51] valeriocos commented on #322
Fixed with #488

[2018-12-13 12:51] #322 closed

[2018-12-21 09:20] sduenas commented on #522
It's a good proposal but I don't have time to implement it. I opened an issue in Perceval to support this feature, though. See it in: https://github.com/chaoss/grimoirelab-perceval/issues/466.

We can follow the discussion there. I'm closing this taks.

[2018-12-21 09:20] #522 closed

[2018-12-28 16:39] sduenas commented on #522
Perceval now supports this feature.

[2019-01-02 10:39] sduenas opened #534 "Remove Git commits to keep data in sync"
GrimoireELK should remove from the raw and enriched indexes those commits and branches that no longer exists in the original repositories. These commits would have been removed when a branch (normally a dev branch) is removed from the origin.

[2019-02-18 17:52] sanacl opened #550 "404 API exception not handled for Github repos"
When a repository does not exist we are getting an error. The exception should be handled in order to avoid breaking the update process and an error message should be printed to error log.

Related issues: #551, #552, #553, #554, #555, #556

This is the traceback:
[code]

[2019-02-18 17:58] sanacl opened #551 "401 API exception not handled for Github repos"
When the software founds a Github repo asking for credentials and return a 401, the software is crashing instead of handling the exception. The exception should be handled and an error message should be printed to error log.

Related issues: #550, #552, #553, #554, #555, #556

This is the traceback:

[code]

[2019-02-18 18:03] sanacl opened #552 "perceval.errors.RepositoryError is not handled"
When the exception **perceval.errors.RepositoryError** is raised, the code in grimoirelab-elk crashes instead of handling the exception. The exception should be handled and an error message should be printed to error log.

Related issues: #550, #551, #553, #554, #555, #556

This is the traceback:
[code]

[2019-02-18 18:06] sanacl opened #553 "perceval.backends.core.git.EmptyRepositoryError is not handled"
When the exception **perceval.backends.core.git.EmptyRepositoryError** is raised, the code in grimoirelab-elk crashes instead of handling the exception. The exception should be handled and an error message should be printed to error log.

Related issues: #550, #551, #552, #554, #555, #556

This is the traceback:
[code]

[2019-02-18 18:15] sanacl opened #554 "requests.exceptions.HTTPError is not handled"
When the exception **requests.exceptions.HTTPError** is raised, the code in grimoirelab-elk crashes instead of handling the exception. The exception should be handled and an error message should be printed to error log.

Related issues: #550, #551, #553, #553, #555, #556

This is the traceback:
[code]

This exception is pretty interesting because it can be caused due to 5xx errors so when it is ca

[2019-02-18 18:24] sanacl opened #555 "http.client.IncompleteRead is not handled"
This error is less common than the bugs mentioned below but it could lead to unexpected results, it could be related to 5xx errors but to be honest I'm not sure. If that's the case maybe it is a good idea to apply the same solution provided for #554

Related issues: #550, #551, #553, #553, #554, #556

This is the traceback:
[code]

[2019-02-18 18:27] sanacl opened #556 "perceval.errors.RateLimitError exception is not properly handled"
When the exception **perceval.errors.RateLimitError** is raised, the code in grimoirelab-elk crashes instead of handling the exception. The exception should be handled and an error message should be printed to error log.

Related issues: #550, #551, #553, #553, #554, #555

This is the traceback:
[code]

[2019-02-18 18:40] sanacl opened #557 "Rate limit exception is not handled for Meetup jobs"
This error is similar to #556, where we have an exception related to the rate limitation which is not handled. The worst case scenario here is to have the exception handled by the grimoirelab-elk code and a proper error log message. Ideally, a new attempt would be executed after a while based in a similar policy to the one developed at #556

Similar to #556

This is the traceback (without the key

[2019-02-18 18:43] sanacl opened #558 "perceval.backends.core.slack.SlackClientError exception is not handled"
When the exception **perceval.backends.core.slack.SlackClientError** is raised, the code in grimoirelab-elk crashes instead of handling the exception. The exception should be handled and an error message should be printed to error log. It is critical to catch this exception to make sure our team is aware of a possible issue with the setup due to a wrong or expired token.

Related issues: #550, #55

[2019-02-19 08:37] valeriocos commented on #553
PR available https://github.com/chaoss/grimoirelab-elk/pull/549

[2019-02-19 08:39] valeriocos commented on #552
PR available https://github.com/chaoss/grimoirelab-elk/pull/549. It solves also #553

[2019-02-26 08:48] valeriocos commented on #550
Error already handled: https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/elk.py#L207

[2019-02-26 08:48] #550 closed

[2019-02-26 08:49] valeriocos commented on #551
Error already handled: https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/elk.py#L207

[2019-02-26 08:49] #551 closed

[2019-02-26 08:49] valeriocos commented on #552
Fixed with #549

[2019-02-26 08:49] #552 closed

[2019-02-26 08:50] valeriocos commented on #553
Fixed with #549

[2019-02-26 08:50] #553 closed

[2019-02-26 08:50] valeriocos commented on #554
Error already handled: https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/elk.py#L207

[2019-02-26 08:50] #554 closed

[2019-02-26 08:51] valeriocos commented on #555
Error already handled: https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/elk.py#L207

[2019-02-26 08:51] #555 closed

[2019-02-26 08:51] valeriocos commented on #556
Error already handled: https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/elk.py#L207

[2019-02-26 08:51] #556 closed

[2019-02-26 08:51] valeriocos commented on #558
Error already handled: https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/elk.py#L207

[2019-02-26 08:51] #558 closed

[2019-02-26 08:52] valeriocos commented on #557
Error already handled: https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/elk.py#L207

[2019-02-26 08:52] #557 closed

[2019-03-06 13:02] maoo opened #571 "Adding page ancestors to confluence backend"
In order to enrich page ancestors for Confluence documents being indexed (see  https://github.com/chaoss/grimoirelab-perceval/pull/487) the `get_rich_item` function must be extended with to copy the `ancestors` fields.

Please note that each ancestor will need to be prefixed with the Confluence server URL .

/CC @valeriocos

[2019-03-06 13:30] maoo commented on #571
@valeriocos , is there any way I can help? Unfortunately I can't find any dev documentation in this project, so I'm not sure how to test my changes.

[2019-03-06 22:59] sduenas commented on #571
@maoo I'm not totally sure but I think the place to include ancestors information is: [Confluence enricher](https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/confluence.py#L97). You should copy the fields there in the way you think it will be useful.

You will also have to update [Confluence enriched mapping](https://github.com/chaoss/grimoirelab-elk/blob/master/schema/co

[2019-03-07 07:29] maoo commented on #571
Thanks @sduenas !

I looked at the enricher, but I can't see any dev docs that explain how to run the tests (or other dev-related directions).

I will work on a PR and submit it here, let's take it from there. TY!

[2019-03-07 08:31] valeriocos commented on #571
@maoo sorry for the late reply.

You can start by looking at the folder [tests](https://github.com/chaoss/grimoirelab-elk/tree/master/tests). In order to run the tests locally, you need to change the [tests.conf](https://github.com/chaoss/grimoirelab-elk/blob/master/tests/tests.conf) with the URL of your ElasticSearch.

Then, you can focus on the tests just for the confluence data, and in particul

[2019-03-08 11:45] InosRahul opened #574 "Getting HTTP connection error"
p2o.py --enrich --index git_raw --index-enrich git -e http://localhost:9200 --no_inc --debug git https://github.com/chaoss/grimoirelab-perceval.git
Output:
2019-03-08 17:14:10,910 Debug mode activated
2019-03-08 17:14:10,910 Feeding Ocean from git (git_raw)
2019-03-08 17:14:10,917 Retrying (Retry(total=20, connect=20, read=8, redirect=5, status=None)) after connection broken by 'NewConnectionError

[2019-03-08 11:53] valeriocos commented on #574
Is your elasticsearch (http://localhost:9200) up and running?

[2019-03-08 13:53] valeriocos commented on #574
@InosRahul I close this issue, feel free to reopen it if needed

[2019-03-08 20:11] sduenas commented on #534
This feature was fixed by #538

[2019-03-08 20:11] #534 closed

[2019-03-09 13:06] InosRahul commented on #574
Actually I solved the error, Elasticsearch was not running, configured everything in docker using the grimoirelab/full image from docker hub

[2019-03-09 13:07] valeriocos commented on #574
thank you for reporting the solution @InosRahul

[2019-03-09 13:09] InosRahul commented on #574
I have actually ran into another issue, when using this command
p2o.py --enrich --index git_raw --index-enrich git  -e http://localhost:9200 --no_inc --debug  git https://github.com/grimoirelab/perceval.git

I am able to create the git_raw index, but the git index is not being created, the error I am getting is something like this,

es'
Traceback (most recent call last):
  File "/root/chaoss/lib/p

[2019-03-09 14:06] valeriocos commented on #574
the problem could be related to which version of mariadb you are using. it should be 10.2.

[2019-03-09 16:04] InosRahul commented on #574
I am running mariadb version 10.2 through a docker container but the problem still persists, also it occurs when using the grimoirelab/(full) image in docker.

[2019-03-10 14:24] valeriocos commented on #574
Sorry for the late reply @InosRahul , it seems that the problem was related to a recent change in ELK, which was reflected in p2o. The following PR should fix the issue you reported: https://github.com/chaoss/grimoirelab-elk/pull/576 (I guess it will be merged to the master branch in the following days)

[2019-03-11 08:28] #571 closed

[2019-03-19 06:37] harshalmittal4 commented on #574
Hey @valeriocos ,
The problem still persists when I use the command
`p2o.py --enrich --index perceval_git_raw --index-enrich perceval_git -e http://localhost:9200 --no_inc --debug --db-host 127.0.0.1 --db-sortinghat sortinghatDB --db-user root git https://github.com/chaoss/grimoirelab-perceval`
to generate index for `git ` date source. I was doing this for generating the report.
It is using grimoi

[2019-03-19 08:16] valeriocos commented on #574
Thank you @harshalmittal4 for reporting this issue.
I have just checked it with the latest version of ELK [0.41.0](https://github.com/chaoss/grimoirelab-elk/commit/962a4e16322387abca176cf813daf3027c37df92) and I don't see any error.
Could you please try it with the latest version ? Thank you

[2019-03-28 17:09] GeorgLink opened #597 "Require DCO sign-off for new commits"
This issue is to activate [protobot/dco](https://github.com/apps/dco) (or similar bot) to check that all commits have a sign-off in this repository.

The [CHAOSS Project Charter section 8.2.1](https://chaoss.community/about/charter/#user-content-8-intellectual-property-policy) requires that all contributions are signed-off. The CHAOSS project has been piloting the use of DCO sign-offs. Once contri

[2019-04-01 21:05] sduenas opened #599 "Avoid GELK failures due to changes on classified items on Meetup"
With the inclusion of new fields in the list of classified fields in Meetup backend (see https://github.com/chaoss/grimoirelab-perceval/issues/504), the enrichment phase of this backend could fail because the enricher requires these fields.

[2019-04-02 09:29] valeriocos commented on #597
done @GeorgLink

[2019-04-02 09:29] #597 closed

[2019-04-02 13:25] GeorgLink commented on #597
Thanks @valeriocos

[2019-04-03 13:54] alpgarcia opened #602 "[Bugzilla] Time open is not being correctly calculated"
Field `timeopen_days` should take into account the status of the bug to calculate the time. Currently is calculating the time from bug creation to the moment in which the enriched index is generated:

https://github.com/chaoss/grimoirelab-elk/blob/2e7b2ae6c9aac501cde50c9464d025309c235480/grimoire_elk/enriched/bugzillarest.py#L121-L122
There is a field named `is_open` in the index that could be use

[2019-04-04 13:38] valeriocos commented on #574
any news on this issue @harshalmittal4 , can we close it ?

[2019-04-04 13:38] #574 closed

[2019-04-04 13:39] valeriocos commented on #574
any news on this issue @harshalmittal4 , can we close it ?

[2019-04-04 14:14] harshalmittal4 commented on #574
Yes sure @valeriocos :sweat_smile: I already closed the related issue [here](https://github.com/chaoss/grimoirelab-manuscripts/issues/125) by me some since the error was resolved some time back!

[2019-04-04 15:24] valeriocos commented on #574
perfect! thank you for the feedback @harshalmittal4

[2019-04-04 16:46] harshalmittal4 commented on #574
Sure @valeriocos!

[2019-05-08 14:40] alpgarcia opened #622 "[mediawiki] Add `grimoire_creation_date` field"
[Mediawiki enricher](https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/mediawiki.py) is not including the standard `grimoire_creation_date` field.

In other cases this is done by calling `get_grimoire_fields` method:
https://github.com/chaoss/grimoirelab-elk/blob/7aeb4496d2c18a94f18a9d24e2fe1aaa5a3140c9/grimoire_elk/enriched/slack.py#L201

https://github.com/chaoss/grimoi

[2019-06-06 06:46] sduenas commented on #599
This was already closed by #600

[2019-06-06 06:46] #599 closed

[2019-06-06 07:01] valeriocos commented on #622
Fixed with: https://github.com/chaoss/grimoirelab-elk/commit/d010acda7f34fe02bc2e029d6de74790f1c1760f

[2019-06-06 07:01] #622 closed

[2019-06-20 13:42] inishchith opened #642 "Add option to fetch from selected branches"
Currently, we can pass which category of items to be fetched from backends but the option doesn't exist for selection of branches.

@valeriocos Please let me know if I could open a PR for this (as I've worked on the changes locally). Thanks!

[2019-06-20 13:55] valeriocos commented on #642
For the moment I would push the changes to your gsoc branch (in case we need to modify other things). Next week we could review the work done with @jgbarah and submit later the PR. What do you think ?

[2019-06-20 13:58] inishchith commented on #642
@valeriocos Thanks! For now, I've worked on the required changes. I'll make sure to ping you, in case I need help with something :)
Sure. We can submit the PR later.

[2019-07-03 07:09] #642 closed

[2019-07-11 15:27] alpgarcia opened #656 "[Jira] Extend index to track assignees"
Despite of assignee information is included in current index, it is not possible to create a single table like:

Name | Tasks Created  | Tasks Assigned
----|----|-----
John Doe | 3 | 2

The reason is the name bucket needs to be common, that is, using the same field. If we use `author_name`, then we cannot count assigned tasks as each item in the index is a task and `author_name` is the author of t

[2019-07-16 14:13] valeriocos commented on #656
Issue addressed by https://github.com/chaoss/grimoirelab-elk/pull/659

[2019-07-16 14:39] jayvdb opened #660 "Optional dependencies"
This package has a dependency on cereslib, which also has a dependency on grimoirelab-elk.

While cross-dependencies are supported by pip, especially wheels, it takes some clever tricks to get that to work with setuptools.

It seems like the cereslib dependency here, added because of https://github.com/chaoss/grimoirelab-elk/pull/228 , should be an optional dependency listed in `extras_require` ra

[2019-07-16 15:01] alpgarcia commented on #656
Thanks, I'll test it!

[2019-07-23 15:06] alpgarcia opened #670 "[onion] Configurable time frames"
Currently onion study is computed by quarters. A nice enhancement would be supporting configurable time intervals.

Possible use cases:
* Use another time unit supported by Kibiter/Kibana (Month, Week, etc.)
* Use more flexible dates, for instance milestones.

Implementing one or another (or both) is something to be discussed as the latter one could present a real challenge in terms of configurati

[2019-07-26 10:19] sduenas commented on #656
Already implemented by #659

[2019-07-26 10:19] #656 closed

[2019-07-26 10:34] valeriocos commented on #363
This issue has been fixed with: https://github.com/chaoss/grimoirelab-elk/pull/392

[2019-07-26 10:34] #363 closed

[2019-07-26 10:48] valeriocos commented on #86
Extremely late reply (sorry about that @smitthakkar96). Currently, we use ES 6.1.0 and KIbana 6.1.4-2, you can find a docker-compose at: https://github.com/chaoss/grimoirelab-sirmordred#source-code-and-docker. Please open a new issue, if you experience the same problem.

Thanks!

[2019-07-26 10:48] #86 closed

[2019-07-26 10:56] valeriocos commented on #156
Closing this issue, the error cannot be replicated and the recent logs are empty. It was probably due to a mapping coming from an old version of ES

[2019-07-26 10:56] #156 closed

[2019-07-26 10:57] valeriocos commented on #221
better late than never, closing this issue since fixed by #243

[2019-07-26 10:57] #221 closed

[2019-07-26 11:00] valeriocos commented on #103
Licenses recently updated with https://github.com/chaoss/grimoirelab-elk/commit/cfd51a11a738c0bb311968624b8a3776582268c3. Closing this issue

[2019-07-26 11:00] #103 closed

[2019-07-26 12:54] valeriocos commented on #94
Impossible to replicate the issue (since the stack has been moved to ES 6.x). Closing this issue.

[2019-07-26 12:54] #94 closed

[2019-07-26 13:10] valeriocos commented on #76
sorry for the late reply @robinmuilwijk  try with micro-mordred (https://github.com/chaoss/grimoirelab-sirmordred#micro-mordred), p2o.py is being slowly decomissioned.

[2019-07-26 13:10] #76 closed

[2019-07-26 13:12] valeriocos commented on #79
Sorry for the late reply, the error seems to be gone time ago. Feel free to open a new one if needed.

[2019-07-26 13:12] #79 closed

[2019-07-26 13:13] valeriocos commented on #93
Closing this issue! For the future, please use micro-mordred (https://github.com/chaoss/grimoirelab-sirmordred#micro-mordred), p2o.py is being decomissioned.

[2019-07-26 13:13] #93 closed

[2019-07-26 13:14] valeriocos commented on #82
Closing this issue! For the future, please use micro-mordred (https://github.com/chaoss/grimoirelab-sirmordred#micro-mordred), p2o.py is being decomissioned.

[2019-07-26 13:14] #82 closed

[2019-07-26 13:38] valeriocos commented on #320
better late than never, I have executed the raw and enrich phases with micro-mordred over the set of projects you shared @jsmanrique . No error was detected, so the issue can be closed.

[2019-07-26 13:38] #320 closed

[2019-07-26 14:51] valeriocos commented on #369
Fixed with https://github.com/chaoss/grimoirelab-elk/pull/392

[2019-07-26 14:51] #369 closed

[2019-07-26 14:54] valeriocos commented on #99
Fixed it with https://github.com/chaoss/grimoirelab-elk/commit/0cebccbd55ccec55b52f7d82dcb0694fabc5e397

[2019-07-26 14:54] #99 closed

[2019-07-26 14:57] #435 closed

[2019-08-08 10:32] manikantanr opened #673 "Not able to see docs link provided in readme"
Readme file has a [link](https://grimoirelab.gitbooks.io/tutorial) to tutorial in gitbooks, when trying to access its asking login, logged in with gmail still got 404.

Are docs published publicly?

Tried looking at [this](https://legacy.gitbook.com/@grimoirelab) space and found nothing.

[2019-08-08 16:10] alpgarcia commented on #673
I guess this is an outdated link. The right one is probably: https://chaoss.github.io/grimoirelab-tutorial/

[2019-08-08 16:15] alpgarcia commented on #673
PR ready to be reviewed at #674

[2019-08-09 07:04] valeriocos commented on #673
Thanks @alpgarcia and @manikantanr to report this issue

[2019-08-09 07:04] #673 closed

[2019-08-13 14:20] jsmanrique opened #678 "Strange support for custom fields in meta fields of projects.json"
I have a projects.json file that include some custom fields inside the `meta` field like:
[code]

In the data discovery tab I see expected `cm_title` and `cm_type` fields with the right data. But `cm_type` cannot be visualized, because it's not in the index pattern. `cm_title` appears as field with type `text`.

Would it be great adding any custom field in `meta` to the index pattern as `cm_{custo

[2019-08-13 15:10] valeriocos commented on #678
Thank you for reporting this issue! Which index(es) are you referring to?

[2019-08-14 07:09] valeriocos commented on #678
A workaround is to refresh the index patterns in kibana, after that you will see the missing fields.
I guess the reason of not having `cm_*` fields in the index patterns is due to the fact that they are custom fields, and thus they are not present by default.
Please @alpgarcia share your opinion, thanks

[2019-08-14 08:03] jsmanrique commented on #678
Thank you @valeriocos, that helped. Let's wait for @alpgarcia comments

[2019-08-19 14:51] alpgarcia commented on #678
This is probably out of the scope of Gelk. This happens when Mordred uploads standard index patterns from Sigils, so any custom field will disappear from the index pattern.

The only way to support this would be checking the `projects.json` file after uploading standard index patterns and dynamically add custom fields to Kibana index pattern object. That means uploading an index pattern to the das

[2019-08-29 09:16] alpgarcia commented on #678
I'm closing this issue here as Gelk can't handle this. Please open a similar one in sirmordred if needed.

[2019-08-29 09:16] #678 closed

[2019-09-09 13:21] alpgarcia opened #686 "Add bot filtering to Onion study"
In order to exclude bots for onion study we need to do it from code. To correctly compute onion, we must exclude them from search results here:

https://github.com/chaoss/grimoirelab-elk/blob/ae163fa0b20e23e719685da3252ee60d3979838d/grimoire_elk/enriched/study_ceres_onion.py#L260-L270

Same as we do for projects, but this filter must be always applied, so it should be just adding a line like the f

[2019-09-16 08:32] sduenas commented on #602
This was already fixed.

[2019-09-16 08:32] #602 closed

[2019-09-26 12:45] sanacl opened #692 "Improve documentation for Grimoirelab-elk"
Grimoirelab-elk lacks of documentation, it would be great to offer a basic documentation to help newcomers understand how the software works and how they can use it.

The first output of this task should be a TOC and the final output a markdown document.

[2019-10-01 10:02] alpgarcia commented on #686
Solved via https://github.com/chaoss/grimoirelab-elk/pull/689

[2019-10-01 10:02] #686 closed

[2019-10-01 15:42] GeorgLink opened #696 "remove "dashboard" folder"
This suggestion is to remove the dashboard folder.

1. We have Sigils for dashboard collections.
2. The [single dashboard](https://github.com/chaoss/grimoirelab-elk/commits/master/dashboards/KIP.json) has not been updated in 2 years and was committed as "draft" only.

[2019-10-01 15:57] GeorgLink opened #697 "Idea for discussion: GUI for enrichment"
The enrichment of raw indexes is following a set of formulas. Right now the formulas are embedded in code.

The idea I want to discuss is to make the formulas dynamic and customizable by the user of the platform. A preset of formulas may be exported and imported. But it would be nice to have a GUI for adding more formulas.

This is similar to Painless, but in a way that the data is stored in the e

[2019-10-05 19:09] vchrombie commented on #696
So, just remove the `dashboard` folder. Any more suggestions?

[2019-10-05 20:59] valeriocos commented on #696
Hi @vchrombie , yes I checked and it should be safe to remove it!

[2019-10-06 12:29] #696 closed

[2019-10-08 20:20] jsmanrique opened #701 "Error enriching Discourse data when display name is disabled"
It seems it is possible to disable display names in Discourse forums and it that case enrichment process raises an exception and fails:
[code]

How to reproduce it? Run an analysis on https://forum.mautic.org/

Wouldn't it be nice to manage such exception to make Discourse support functional even if such field is not present?

[2019-10-08 20:26] RCheesley commented on #701
Indeed, there is a system-wide option to disable the name field, which we use because many had erroneously entered an email address in an old system, and most users preferred to have username, not name.

I managed to work around this by simply changing the reference to name, to match what was used in username, but it would be more elegant if there was a way to check if the name field was in use, o

[2019-10-08 20:44] valeriocos commented on #701
thank you @jsmanrique and @RCheesley for the issue. The fix will be in the next release (hopefully) :)

[2019-10-10 13:20] valeriocos commented on #692
Fixed with:
- https://github.com/chaoss/grimoirelab-elk/commit/46b068dbedd0a8f1660d7fc643093e22617699a8
- https://github.com/chaoss/grimoirelab-elk/commit/5045bf512192e17ad6efa98b63327b4e19f01f7d

[2019-10-10 13:20] #692 closed

[2019-10-10 13:23] valeriocos commented on #236
A PR (https://github.com/chaoss/grimoirelab-perceval/pull/580) is under evaluation to remove data retrieved from the /users github endpoint.

[2019-10-11 07:29] valeriocos commented on #697
I guess pandas notebooks could work, ad-hoc scripts or a study could also do the job.

Feel free to elaborate more on this idea.

[2019-10-16 13:34] valeriocos commented on #701
Fixed with #702 . It will be available in the next release.

[2019-10-16 13:34] #701 closed

[2019-10-16 13:36] valeriocos opened #706 "[elk] Removing support for `filter-raw-prefix`"
This issue aims at discussing and evaluating the `filter-raw-prefix`, which is an old feature to enrich the items having a target attribute starting with a given prefix.

[2019-10-16 14:14] valeriocos commented on #706
PR: https://github.com/chaoss/grimoirelab-elk/pull/707

[2019-10-20 11:56] jsmanrique opened #711 "Update mappings to avoid using mapping types to support ES 7.x"
Current ES mappings are inheriting `type` parameter since the ages when GrimoireLab was using ES 5.x. It was noted that [mapping types would be deprecated in ES 7.x](https://www.elastic.co/guide/en/elasticsearch/reference/6.1/removal-of-types.html).

Actually, current GrimoireLab deployments doesn't work with ES 6.7+ releases as it is explained in [the schedule for removal of mapping_types](https:

[2019-10-20 13:07] valeriocos commented on #706
Fixed with #707

[2019-10-20 13:07] #706 closed

[2019-10-20 13:37] valeriocos commented on #711
related to https://github.com/chaoss/grimoirelab/issues/219

[2019-10-20 13:40] valeriocos commented on #711
Ideally the best strategy is to keep everything in the same branch. Next week I can have a closer look and see how to push this forward.

[2019-10-27 08:29] jsmanrique commented on #711
Thank you @valcos. Once we have something working I'd love testing it

[2019-10-28 07:09] valeriocos commented on #711
you're welcome, the data is correctly inserted to ODFE, but the panels are not uploaded. I'll check it during this week.

[2019-10-29 20:04] jsmanrique commented on #711
Well, it would be enough for me to start testing how data ingestion work. I don't need the panels yet. So, let's see of I guess how to build my own docker image or pip package to test it

[2019-10-29 20:20] valeriocos commented on #711
If you want to test it, you could run sirmordred using the source code: https://github.com/chaoss/grimoirelab-sirmordred#setting-up-a-pycharm-dev-environment

[2019-10-31 00:20] jsmanrique opened #720 "RepositoryError: git command - Cloning into bare repository"
I am playing with latest GrimoireLab/mordred release (0.2.32) and when analyzing [Open Distro for Elasticsearch](https://github.com/opendistro-for-elasticsearch) repositories, I get this message in mordred logs:
[code]

[2019-10-31 06:47] valeriocos commented on #720
Thank you @jsmanrique for reporting this issue. I'm not able to replicate it, maybe you experienced a connection problem. Could you (i) execute only Perceval on that repo, (ii) share your setup.cfg and projects.json?

I tried with the following ones and it worked smoothly.
[code]
[code]

Thanks

[2019-10-31 07:52] jsmanrique commented on #720
Thank you very much @valeriocos. I have looked at the data this morning, and it seems to be working smoothly. So, you might be right and there might be some connection issues between my AWS Lightsail instance and the repositories. I think we could close this issue ;-)

[2019-10-31 08:31] valeriocos commented on #720
great, thanks for the quick reply!

[2019-10-31 08:31] #720 closed

[2019-11-05 21:38] jsmanrique opened #721 "ERROR - Error feeding raw from pipermail"
Analyzing activity in [gtk mailing list](https://mail.gnome.org/archives/gtk-list/), I am getting this error message in mordred logs:

[code]

I don't know what to do, and I don't even know what impact does this has in the data quality.

[2019-11-05 21:46] jsmanrique opened #722 "UnknownTimezoneWarning"
I think this has been reported before, and it's related with some mailing lists analysis.

I am getting a lot of warning messages in mordred logs like these ones:
[code]

It seems that the message includes the solution:
```Pass  `tzinfos` argument in order to correctly return a timezone-aware datetime```

And the thing that worries me is this part:
`In a future version, this will raise an exceptio

[2019-11-05 21:51] jsmanrique commented on #722
Oh, I see this a duplicated issue: chaoss/grimoirelab-toolkit#12

[2019-11-05 23:49] GeorgLink opened #723 "idea: Open Source Metric"
At All Things Open, @dizquierdo and I met with Patrick and Nick from OSI. They want to have some publicity around an “Open Source Metric”. Yesterday during the CHAOSS Risk WG, we defined “Open Source Metric” to be a filter “is OSI approved” on top of License Coverage.

If OSI follows through to create some marketing around this “Open Source Metric” and they highlight the CHAOSS project — it would

[2019-11-06 06:28] valeriocos commented on #721
Thank you @jsmanrique for reporting this issue. The error originates in Perceval, I'll have a look and provide a fix

[2019-11-06 06:36] valeriocos commented on #722
If possible, can you provide the log where this warning is thrown?
Ideally all this kind of calls should pass by grimoirelab-toolkit. Having the line causing the problem would be great.

Are you running grimoirelab from docker/docker-compose or locally?

Thanks

[2019-11-06 07:11] jsmanrique commented on #722
I am running the docker-compose grimoirelab with this set up:
https://gitlab.com/jsmanrique/grimoirelab-demo-for-gnome

I think it is related with `pipermail` data source.

I have pasted the log lines with the warning message. What do you mean by "the log where this warning is thrown"?

Thank you

[2019-11-06 07:51] valeriocos commented on #722
Thanks for the info. The log messages are just about dateutil code and I was wondering if you had some hints about the GrimoireLab code.

Anyway I'll check it out today and report.

[2019-11-06 07:53] jsmanrique commented on #722
I don't have any hint. Thank you @valeriocos

[2019-11-06 08:36] valeriocos commented on #722
I'm trying to replicate the error using the projects.json you passed. It's possible that the recent update in the dateutil package ([released](https://pypi.org/project/python-dateutil/) Nov 3rd) is the responsible of it.
Can you add here the python-dateutil version you are using? thanks

[2019-11-06 14:15] valeriocos commented on #721
Related to https://github.com/chaoss/grimoirelab-toolkit/pull/22

[2019-11-06 14:15] #721 closed

[2019-11-06 14:50] valeriocos commented on #722
I would pin the dependency of python-dateutil to 2.8.0 (in Perceval and toolkit) to avoid having an error in the future.

It seems that the warning can be removed by passing a dict of timezones with the corresponding values in UTC (https://stackoverflow.com/questions/51206500/how-to-convert-a-string-datetime-with-unknown-timezone-to-timestamp-in-python), however the solution doesn't look really cl

[2019-11-06 16:18] sduenas commented on #722
@jsmanrique can you give us the list of packages you're using when you get this error?. You can run `pip freeze` (inside of your environment if you use one) and paste the output here.

[2019-11-07 11:37] valeriocos opened #725 "[enrich-meetup] Typo in group url attribute"
When checking the Meetup enricher, it seems that the group attribute [url_name](https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/meetup.py#L225) is mispelled (or its name changed in the past), it should be `urlname`. This causes to not store the url name of a group.

A perceval execution can be executed to confirm the typo in the group attribute. For instance, if we exec

[2019-11-08 07:49] jsmanrique commented on #722
I am using docker-compose installation, but let's see if this is what you are looking for:
[code]

[2019-11-08 08:11] sduenas commented on #722
According to the previous post, @jsmanrique is using **python-dateutil 2.8**, so I guess that's not the cause of the problem. Don't you think @valeriocos?

[2019-11-08 08:28] valeriocos commented on #722
The idea of pinning `python-dateutil 2.8` is to avoid an exception in the future. The warning is originated in here: https://github.com/dateutil/dateutil/blob/2.8.0/dateutil/parser/_parser.py#L1201

[2019-11-08 09:04] sduenas commented on #722
That's doesn't worry me much. I always prefer to have an exception which I'll have to manage than something that hides the error.

[2019-11-08 09:09] valeriocos commented on #722
ok, sound good. What do we do with the warning?

The solution proposed here: https://github.com/chaoss/grimoirelab-elk/issues/722#issuecomment-550343679 isn't really clean.

[2019-11-08 09:58] lukaszgryglicki opened #726 "It is impossible to install ELK right now due to redis version conflict"
Hi.
- This repo requires Redis `>=2.10.0, <=2.10.6`, see [here](https://github.com/chaoss/grimoirelab-elk/blob/master/requirements.txt#L6) and [here](https://github.com/chaoss/grimoirelab-elk/blob/master/setup.py#L85)
- For an unknown reason, it also needs Arthur, maybe due to [this](https://github.com/chaoss/grimoirelab-elk/blob/master/setup.py#L85) and [this](https://github.com/chaoss/grimoirela

[2019-11-08 10:14] lukaszgryglicki commented on #726
Why ever arthur is required? Isn't arthur optional?

[2019-11-08 16:33] valeriocos commented on #726
Sorry for the inconvience @lukaszgryglicki , we will fix the redis dependencies. Note that Arthur is currently not used in GrimoireLab and p2o is not mantained since some years. I would suggest you to have a look at [MicroMordred](https://github.com/chaoss/grimoirelab-sirmordred#micro-mordred)

[2019-11-08 16:54] sduenas commented on #722
@valeriocos do we know what part of the code this is happening? I'd like to have the exact date that is wrong to check if we can do something with it.

[2019-11-08 17:30] valeriocos commented on #722
Code:
- https://github.com/chaoss/grimoirelab-toolkit/blob/master/grimoirelab_toolkit/datetime.py#L113
- https://github.com/chaoss/grimoirelab-toolkit/blob/master/grimoirelab_toolkit/datetime.py#L131
- https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/mbox.py#L275

This is in an example of the date:
- 'Wed, 10 Feb 99 10:10:47 EST'

[2019-11-08 17:51] lukaszgryglicki commented on #726
So if I want to do all the steps manually what should I do?
My idea was (for each data source):
- Run `perceval` to get data
- Run `p2o.py` to enrich data and send to ES
- Run `sortinghat` to enrich affiliations.

I want to run everything manually myself, so how can I achieve a task say for a single GitHub repository.
I just want to put its data into ES, using minimal tools and then enrich using s

[2019-11-08 17:53] lukaszgryglicki commented on #726
Or simpler: I have `perceval` output for many many data sources, I just want to send this data to ES (enrich on the way), I thought `p2o.py` was exactly the right tool to do that, without too much dependencies.

I want to have a docker image with the minimal toolset that is able to collect data (perceval), enrich and send to ES (???) and handle affiliations (sortinghat), all I've managed to do aft

[2019-11-10 16:13] lukaszgryglicki opened #729 "bugzillarest datasource error"
`p2o.py --enrich --index lf-sds-bugzilla-raw --index-enrich lf-sds-bugzilla -e redacted --db-host mariadb.mariadb --db-sortinghat sortinghat --db-user sortinghat --db-password redacted bugzillarest https://bugs.dpdk.org/ -u redacted -p redacted --from-date 2019-10-01 --no-archive`:
[code]

[2019-11-10 16:18] valeriocos commented on #729
@lukaszgryglicki thank you for reporting this issue, I've just moved it to ELK (`"/repos/grimoirelab-elk/grimoire_elk/enriched/bugzillarest.py", line 91`)

[2019-11-11 07:16] lukaszgryglicki commented on #729
OK, thanks.

[2019-11-11 07:17] lukaszgryglicki commented on #726
Thanks.

[2019-11-11 10:01] valeriocos commented on #723
@GeorgLink @dicortazar can you provide more info about this idea? thanks

[2019-11-11 10:03] valeriocos commented on #697
@GeorgLink there is no activity on this issue. Can you elaborate a bit more on this idea? Do you have some refs of tools doing something similar?

[2019-11-11 10:06] valeriocos commented on #283
Is there any advancement on this issue @dicortazar @alpgarcia ? If this isn't the case, we may want to close this ticket and re-think how to push the schema doc forward. Thanks

[2019-11-11 11:57] #729 closed

[2019-11-11 12:08] sduenas commented on #722
Either we have a file including the tzinfo data (I don't know if we can reuse the code someone posted [here](https://gist.github.com/h-j-13/e3a585796510b59601e34a07e99b386d)) or we leave the warning as is. If at some point it raises an exception, we'll catch it.

[2019-11-11 12:57] GeorgLink commented on #697
I don't know a good comparison.

My idea is to have very few hard-coded enrichment formulas.
Let's take the utc_weekday and utc_time_of_day calculations that we added on our call as an example.
Rather than writing it into GELK, if we had a GUI for defining, importing, and exporting this kind of calculations, we could have created the new fields without having to update GrimoireLab.

The imaginary

[2019-11-11 12:59] GeorgLink commented on #723
What aspect of the idea is not clear to you?

We have a list of identified licenses.
We check if each license is on the OSI-approved-list and set a boolean.
We calculate the percentage of true over all == open source metric.

[2019-11-11 14:17] valeriocos commented on #723
What is COCOLic?

[2019-11-11 16:46] #725 closed

[2019-11-11 17:39] valeriocos commented on #722
The list available in the stackoverflow post doesn't seem to be completed. The following date is failing: `Mon, 18 Aug 97 18:33 MET DST`

I would leave the warning or pin the dependency to 2.8.0 (as suggested at https://github.com/chaoss/grimoirelab-elk/issues/722#issuecomment-550343679)

[2019-11-11 20:49] GeorgLink commented on #723
Sorry, I meant Graal CoLic ... I fixed the description.

[2019-11-12 13:01] sduenas commented on #722
I see. Ok, maybe we can do the best effort possible that would be to include that list (even if it's incomplete). Then we can close this issue as not fixed. If in future version of `dateutil` they raise an exception, we'll catch it and we'll make the conversion to UTC.

What do you think?

[2019-11-12 13:06] valeriocos commented on #722
I wouldn't include the list. Beyond that, I agree with you, we can close the issue as not fixed, and in the future we will provide the code to handle the exception

[2019-11-12 13:16] sduenas commented on #722
Ok, then!

[2019-11-12 13:16] #722 closed

[2019-11-12 16:21] valeriocos commented on #722
I transfer the issue to toolkit, the problem should be handled there.

[2019-11-14 10:47] lukaszgryglicki opened #733 "Gerrit enricher - KeyError missing reviewer in comment"
SSH priv key is put in `/root/.ssh/id_rsa`, public kay is added to gerrit:
`p2o.py --enrich --index (redacted) --index-enrich (redacted) -e (redacted) --db-host mariadb.mariadb --db-sortinghat sortinghat --db-user sortinghat --db-password (redacted) gerrit gerrit.hyperledger.org --user (redacted) --disable-host-key-check --no-archive`:
[code]

[2019-11-16 07:59] valeriocos commented on #726
Fixe with #728

[2019-11-16 07:59] #726 closed

[2019-11-17 15:28] lukaszgryglicki commented on #726
Thanks.

[2019-11-17 16:16] valeriocos commented on #726
you're welcome @lukaszgryglicki !

[2019-11-22 10:29] valeriocos commented on #711
Fixed with https://github.com/chaoss/grimoirelab-elk/pull/716

[2019-11-22 10:29] #711 closed

[2019-11-22 10:29] valeriocos commented on #733
Fixed with https://github.com/chaoss/grimoirelab-elk/pull/735

[2019-11-22 10:29] #733 closed

[2019-12-05 06:11] lukaszgryglicki opened #739 "Gerrit backend: KeyError: 'owner'"
User's SSH key is set in `~/.ssh/id_rsa`
`p2o.py --enrich --index sds-hyperledger-sawtooth-gerrit-raw --index-enrich sds-hyperledger-sawtooth-gerrit -e (redacted) --db-host mariadb.mariadb --db-sortinghat sortinghat --db-user sortinghat --db-password (redacted) gerrit gerrit.hyperledger.org --user (redacted) --disable-host-key-check --no-archive`:
[code]

[2019-12-05 07:27] svdo opened #740 "[cocom] Code complexity by shorter intervals"
I'm test-driving the code complexity integration (https://github.com/chaoss/grimoirelab/pull/230). I noticed that the interval for which code complexity is calculated is configured in terms of a number of months. For us it would be much more valuable of we could specify this in terms of a number of weeks, typically '1 week' for us: we track coverage delta on a weekly basis. Thanks for your conside

[2019-12-06 13:53] lukaszgryglicki commented on #739
created a PR that fixes this: https://github.com/chaoss/grimoirelab-elk/pull/741

[2019-12-11 07:07] lukaszgryglicki opened #745 "[Question] how commits are calculated (in the enriched index)"
Hi, if possible please answer my question or point me to some documentation.

We're trying to validate if our data coming from Grimoire Stack is correct. We want to know how the commit count is calculated for any given repository.

we're trying to find a `git` command that will give the same results as the number of commits that are put into the ElasticSearch enriched index.

I can think about:
-

[2019-12-11 07:19] valeriocos commented on #745
The git command used by perceval is available at: https://github.com/chaoss/grimoirelab-perceval/blob/2017be85dd9a3d0aff43508f88fbcaa7787d626f/perceval/backends/core/git.py#L992

[2019-12-11 07:27] lukaszgryglicki commented on #745
Ok great, but the enriched data doesn't have the same counts right? How about authors count?
Anyway, thanks for that command, we will check i that matches our counts.

[2019-12-11 09:01] valeriocos commented on #745
You're welcome!

It should have the same count if you are not using the pair-programming option.
If you check the method [enrich_items](https://github.com/chaoss/grimoirelab-elk/blob/408cfa31f53a18dc02256644b1c4027ac14434ec/grimoire_elk/enriched/git.py#L508), you can see that each commit coming from the [raw index](https://github.com/chaoss/grimoirelab-elk/blob/408cfa31f53a18dc02256644b1c4027ac144

[2019-12-11 09:02] valeriocos commented on #745
feel free to close this issue if you are OK with the answers, thanks!

[2019-12-11 17:36] lukaszgryglicki commented on #745
LOL, posted as another user, but please treat this lglfbot's post as mine :p

[2019-12-11 17:40] valeriocos commented on #745
We have it here: https://perceval.readthedocs.io/en/latest/perceval.backends.core.html#module-perceval.backends.core.git. It is basically the same info shared above

[2019-12-11 17:42] lukaszgryglicki commented on #745
OK, thanks, we can eventually link to this.

[2019-12-13 07:58] valeriocos commented on #745
you're welcome! Let's close this issue, feel free to reopen it if needed @lukaszgryglicki

[2019-12-13 07:58] #745 closed

[2019-12-16 10:54] #739 closed

[2019-12-16 10:56] valeriocos commented on #739
Fixed with https://github.com/chaoss/grimoirelab-elk/pull/742

[2019-12-23 02:07] valeriocos opened #750 "Refactor Enrich class to improve cohesion"
The class [Enrich](https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/enrich.py) should be refactored since it includes methods that do a great variety of actions such as handling identities and implementing studies. Furthermore, studies represent a danger in terms of cohesion since (i) they may need specific methods that aren't needed for the Enrich class/subclasses and (

[2019-12-31 16:45] florentk opened #755 "[cocom] analysis fail with some repository"
I got this error for some on our repositories :
[code]

https://github.com/kiwix/metrics/issues/16

[2019-12-31 16:51] florentk opened #756 "[Size of backlog] Last value is wrong"
In the graph the last value down

[2019-12-31 16:52] florentk commented on #756
sorry wrong repository

[2019-12-31 16:52] #756 closed

[2020-01-08 16:17] lukaszgryglicki opened #757 "[question] is it safe to enrich the same index from multiple processes"
Hi, I have a question:

Is it safe to enrich the same index pair (raw/enriched) say `my-github-issue-raw` and `my-github-issue` via multiple `p2o.py` calls that write different repos data into the same index, for example:

a) `p2o.py --enrich --index my-github-issue-raw --index-enrich my-github-issue -e $ES_URL github --category issue org repo1 -t [redacted] --sleep-for-rate --no-archive`
b) `p2o.

[2020-01-08 16:29] jgbarah commented on #757
We're running GrimoireLab sort of that way you mention in Cauldron.io, now with ES 7.x. Up to now we have detected no errors due to that (but testing has not been exhaustive). We only ensure that the same repo is not being updated by two parallel processes at the same time.

[2020-01-08 16:54] lukaszgryglicki commented on #757
I was expecting that, I just wanted to confirm my use case is correct.
So I can run N parallel processes writing to the same 1 index, only making sure each of them is for the different repo?
So grimoire *is* storing "last processed date" per repo for each index, right?
I mean can you explain a bit how `p2o.py` resumes work?
Say I have 1 index, it has N repos data - how resuming works?

How about d

[2020-01-08 16:59] lukaszgryglicki commented on #757
Eventually, any possible ideas why `raw` index has, say 1100 records and `enriched` has for example `580`, after subsequent `p2o.py` runs 9and only happens on one ES instance and never on the second ES instance? Any clue? ideas? Was struggling with that 10 hours and starting to run out of ideas ...

[2020-01-08 19:33] jgbarah commented on #757
Yes, that's basically the loop. I've tested it works in parallel, as you describe, for git, GitHub, GitLab. Not sure about others. Pretty sure it won't work with Gerrit, because in that case the strategy (due in part to peculiarities in the Gerrit API) is to get *all* code reviews at once, if I'm not wrong. That could also happen with other data sources (maybe Jira). In those cases, I'm not comple

[2020-01-08 20:57] lukaszgryglicki commented on #757
Makes sense, thanks.
We're not using `mordred` because it's too "heavy", we've written our own orchestrator called SDS (sync data sources) and it orchestrates `p2o.py` executions on multiple kubernetes nodes (spawning each in just a single goroutine), using multiple processes on each node (number of `p2o.py` processes on each node is equal to the number of CPU cores reported on that node).
Sources

[2020-01-08 22:16] jgbarah commented on #757
Thanks for the pointers!

[2020-01-09 08:33] lukaszgryglicki opened #758 "[Bug?] ES 7.X exceeding maximum scrolls [500] is ignored. ELK tools should remove scroll when they no more need it."
So when I run a big batch of `p2o.py` commands (about 1900) using about 32 in parallel (running on 2 kubernetes nodes each having 16 CPU cores, so 32 `p2o.py` processes at the same time) I'm hitting ES 7.X error "too many scrolls open".

The funny part is that I would never detect that because `p2o.py` runs "as usual" reporting no failure and even no warning, the result is that no new data comes i

[2020-01-09 08:34] lukaszgryglicki commented on #757
Probably the cause for this is here:  https://github.com/chaoss/grimoirelab-elk/issues/758

[2020-01-09 15:17] valeriocos commented on #755
Hi @florentk, sorry for the late reply!

If the repo is public, could you share it so I'll be able to replicate the issue?

[2020-01-09 17:48] #757 closed

[2020-01-10 18:37] lukaszgryglicki commented on #758
Ping...
cc @jgbarah

[2020-01-10 18:48] florentk commented on #755
@valeriocos yes you cas try with this https://github.com/kiwix/tools

[2020-01-13 11:54] svdo opened #759 "[cocom] [colic] Dashboards display tokens in URLs"
This is the same issue as was fixed by #682, but now for the Code Complexity and the Code Licenses dashboards. Both the "Repositories" and the "All Files: Code complexity, LOC and ratios" panels on the Code Complexity dashboard, as well as the "Repositories" and "All Files: License & Copyright Definition" panels on the Code Licenses dashboard display username and token in the URLs.

[2020-01-13 14:02] svdo opened #760 "[cocom] [colic] Problem with enrichment?"
I am running five different projects through Grimoirelab now, including cocom and colic analysis. I'm using my self-built version of `grimoirelab/full-3p` v0.2.36.

Somehow only two of the projects show up on the dashboards. When investigating this, I found something strange in the enriched index. For example, I run this query (to filter out the bulk of the entries):

[code]

This gives me hits th

[2020-01-14 09:20] svdo commented on #758
Do you think #760 might be related?

[2020-01-14 09:37] jgbarah commented on #758
Sorry for being silent. We have that in our plate, we agree with your diagnosis. i think the most urgent action is to release the scroll when it is no longer used, in GrimoireELK, as you mention. If you have some time, could you produce a pr with that?

In any case, i agree that likely we should also check if there was a scroll error, and (likely) schedule a retry some minutes later, when hopefull

[2020-01-14 09:41] jgbarah commented on #758
Mmmm. I don't think so, symptoms seem different... But I don't have a lot of experience with Graal... Are you using Elasticsearch 7.x too? (I think the container you mention has ES 6.x in it...)

[2020-01-14 09:52] svdo commented on #758
@jgbarah You're probably right:

[code]

[2020-01-14 09:58] lukaszgryglicki commented on #758
I can try to create a PR, but need to work on some other more urgent stuff right now. I will comment here when I'm free to work on this, so before I post any comment, somebody else can start work on it but please also comment here, so I won't duplicate anybody else's work.

[2020-01-14 10:07] jgbarah commented on #758
OK, @lukaszgryglicki, thanks!

[2020-01-14 10:42] valeriocos commented on #755
The problem is due to a commit without message, see details below.
[code]

[2020-01-14 11:19] jgbarah commented on #755
But this mean we need to ckeck if the commit has a message (or capture the exception) in GrimoireELK, right?

[2020-01-14 11:56] valeriocos commented on #755
yes, I'm working on the fix. The Git enricher has something similar too: https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/git.py#L343

[2020-01-14 16:59] florentk opened #761 "[GitHub] Add study to create a "backlog" index"
With the current Github enriched datas, we have the backlog only from actual data, we have not the evolution.  For example we have not the evolution of the number of opened issues or the evolution of average issue resolution time. We can compute these metrics in add a new study index based on Github enirched datas.

We have implement this in a [fork of grimoirelab_elk](https://github.com/florentk/

[2020-01-14 17:06] lukaszgryglicki opened #762 "ELK resuming data collection support for different data sources"
Hi, is it possible to get a list of data source types and their support to resume data collection?
By resume data collection I mean I'm running `p2o.py` for the first time, so all data is collected and enriched. Then (say the next day) I'm running that `p2o.py` again against the same ElasticSearch instance, so the index is there and collecting data only requires processing data since yesterday.
Wh

[2020-01-14 17:27] lukaszgryglicki commented on #758
Unless no one else works on this I'll take it in 12-13 hours since then.

[2020-01-14 18:13] jgbarah commented on #762
AFAIK, all data sources which are not point-retrieved can be updated incrementally, assuming the first retrieval completed. Some of the data sources (notably Gerrit, but may be others) don't provide items in order, which means that until you have a complete batch (say, the first complete retrieval of the data source) you cannot start incrementally.

By "point-retrieved", y mean those data sources

[2020-01-14 18:17] jgbarah commented on #761
Thanks a lot, this is quite interesting!

For this kind of stuff, we usually write an specific "study", which is a way of producing a "special" index (such as the one we write for the "areas of code" panels). This way, we keep the core of GrimoireELK reasonably simple, while we can have those optional studies performed as a part of what SirMordred does.

@valeriocos, @sduenas do you agree this wou

[2020-01-14 18:19] sduenas commented on #762
There's no such list but you cat get check the backends that support resuming doing this:

[code]

[2020-01-14 18:26] alpgarcia commented on #761
Related to https://github.com/chaoss/grimoirelab-sigils/issues/410

[2020-01-14 18:45] valeriocos commented on #761
Thank you @florentk for sharing your work. I'll have a look at it tomorrow.

[2020-01-15 07:19] lukaszgryglicki commented on #758
Starting to work on this.

[2020-01-15 07:52] lukaszgryglicki opened #765 "Docker image "grimoire/full" doesn't support ES 7.X"
When trying to use "grimoire/full" with ES 7.X it doesn't work, see
- Start grimoire stack:`docker run -e RUN_MORDRED=NO -it grimoirelab/full`
- Start ES 7.X: `docker run -p 9200:9200 -p 9300:9300 -e "discovery.type=single-node" docker.elastic.co/elasticsearch/elasticsearch:7.5.1`
- Shell into `grimoire/full`: `docker exec -it b26c4856cf8e env TERM=xterm /bin/bash`
- Inside the grimoire try to use

[2020-01-15 10:20] lukaszgryglicki commented on #758
Created a PR that:
- Releases scroll after finished using it
- Wait a configurable amount of time (default 900s) when no scroll is available

[2020-01-16 13:59] lukaszgryglicki opened #767 "[dockerhub] backend enrichment error (python exception)"
Python exception:

`p2o.py --enrich --index raw --index-enrich rich -e [redacted_es_7_url] -g --db-host mariadb.mariadb --db-sortinghat sortinghat --db-user sortinghat --db-password [redacted] dockerhub hyperledger sawtooth-next-directory`:

[code]

[2020-01-19 15:40] valeriocos commented on #759
Fixed with #763 and chaoss/grimoirelab-sigils#414

[2020-01-19 15:40] #759 closed

[2020-01-20 10:44] #758 closed

[2020-01-21 07:00] svdo commented on #760
CC @valeriocos Can I take advantage of the fact that you seem to know so much about all this? Thanks!!

[2020-01-21 07:05] valeriocos commented on #760
yes, sure @svdo . I plan to have a look at it this week

[2020-01-21 07:07] svdo commented on #760
You're my hero!

[2020-01-22 12:26] jgbarah commented on #660
Sorry, I had not noticed this issue. I agree with your suggestion. What do you think, @valeriocos @sduenas ?

[2020-01-23 16:56] valeriocos commented on #755
Fixed with #763

[2020-01-23 16:56] #755 closed

[2020-01-23 16:58] valeriocos commented on #762
@lukaszgryglicki can we close this issue? thanks

[2020-01-23 17:05] lukaszgryglicki commented on #762
Yes, I think we can.

[2020-01-23 17:08] #762 closed

[2020-01-23 17:14] valeriocos commented on #526
If I'm not wrong these messages come from the elasticsearch module. Time ago they were silented (https://github.com/chaoss/grimoirelab-sirmordred/blob/master/bin/sirmordred#L80) due to the amount of info they were generating.

Let's close this issue @sanacl , feel free to reopen it if needed

[2020-01-23 17:14] #526 closed

[2020-01-23 17:19] valeriocos commented on #350
@jsmanrique do you have some conf files/memories to replicate this issue? If not, we can check with the data we have in prd, if what you reported is still valid?

[2020-01-23 17:21] valeriocos commented on #98
...and finally fixed: https://github.com/chaoss/grimoirelab-elk/pull/737

[2020-01-23 17:21] #98 closed

[2020-01-23 17:39] valeriocos commented on #760
@svdo can you share your setup.cfg and projects.json to replicate your problem?

Generally, the same index contains data from more repos. For instance, in the case below both raw and enriched indexes contain the data of several grimoirelab repos. Every Perceval/Graal item stored in the indexes is identified by a unique identifier (e.g., https://github.com/chaoss/grimoirelab-elk/blob/master/grimoir

[2020-01-24 08:02] svdo commented on #760
It makes sense that one index contains data from multiple repo's. In this case though, I'm seeing data from multiple repo's **in one single hit** (for many different hits). For example, this is the start of the result of the query I posted above (redacted to remove company-internal info):

[code]

The information that I did not remove above comes from the public repo https://github.com/philips-sof

[2020-01-24 09:09] valeriocos commented on #760
Thank you @svdo , I add below the overall approach of the cocom/colic enrichers (I hope it will be helpful).

For each commit produced by Graal, the files inside it are processed and stored in ES (one document per file). Since the same file may be modified in several commits, its information (e.g., file path) can be stored more than once in ES. However each document is unique, its identifier is ba

[2020-01-24 17:18] valeriocos commented on #350
I didn't find evidence of this problem, sorry for the late reaction

[2020-01-24 17:18] #350 closed

[2020-01-24 18:43] svdo commented on #760
I reproduced it with publicly accessible repos.

`projects.json`:

[code]
And: [credentials.cfg.txt](https://github.com/chaoss/grimoirelab-elk/files/4110073/credentials.cfg)

Not sure if the tokens are needed, I used a personal access token in Gitlab.

I then query in GrimoireLab (after a few hours):

[code]

The first part of the result is:

[code]

As you can see, this hit has information from b

[2020-01-28 11:13] svdo commented on #760
@valeriocos Just curious: did you manage to reproduce? Anything else that I can do to help?

[2020-01-28 13:57] valeriocos commented on #760
@svdo not yet, tomorrow I'll be fully focus on this issue.

Not for the moment, thank you for asking

[2020-01-28 13:58] valeriocos commented on #767
Fixed with #774

[2020-01-28 13:58] #767 closed

[2020-01-28 14:02] lukaszgryglicki commented on #767
Thanks!

[2020-01-30 12:18] florentk commented on #761
@valeriocos Do you have look my proposition ? Can I change something to integrate my code in a branche of your repository (is the best way for us !)

[2020-01-30 14:05] valeriocos commented on #761
Hi @florentk sorry for the late reply! Yes, I had a look to your fork and the approach looks ok!
Could you submit a PR with the study? There, we can comment on some details of the study, WDYT?

Thanks and sorry again!

[2020-02-05 15:02] ioiobzit opened #779 "Error enriching ocean from telegram / Error feeding raw from telegram"
Hello,

I am using the grimoirelab/full docker container.
This is the backend configuration:

projects.json
[code]

credentials.cfg
[code]

I get these errors in the logs:

* username

[code]

* message_id
[code]

And the bot has been added to a public Telegram group with 1418 members.

What can I check?

Thank you,
Antonio

[2020-02-06 08:42] valeriocos commented on #461
Fixed with https://github.com/chaoss/grimoirelab-elk/commit/55af685054f1036cee6611557cf2a557487861d1. The geolocation information relies on [geopy](https://github.com/chaoss/grimoirelab-elk/blob/master/setup.py#L87), which leverages on Nominatim data.

Geolocation data can be added via the study `enrich_geolocation`. This study includes geo points information (latitude and longitude) based on the

[2020-02-06 08:42] #461 closed

[2020-02-08 12:18] valeriocos commented on #779
Hi @ioiobzit , I was able to replicate the first error but not the second one.

- The first error is due to the fact that `username` is an optional field (https://core.telegram.org/bots/api#user), which the code assumes to be always there.

- The second error is also due to an optional field assumed to be there, in this case `message`. Find below some more details.

   The perceval backend works i

[2020-02-09 15:30] florentk opened #782 "[Cocom] Allow to difference by language/extension"
We can't difference by language/extension (Python, Java ...) the metrics calcultated by Cocom

https://github.com/kiwix/metrics/issues/21

[2020-02-09 17:27] florentk opened #783 "[cocom] Add languages name in addition of file extension"
To differenciate the language of a file analysed by Graal, currently we have the file extension (py, cpp, rb ...). To improve the lisibilty in a graph we could also have the language name like "Python", "C++" or "Ruby".

https://github.com/kiwix/metrics/issues/36

[2020-02-25 10:21] valeriocos commented on #761
This issue has been solved with:
- https://github.com/chaoss/grimoirelab-elk/pull/789
- https://github.com/chaoss/grimoirelab-elk/pull/790
- https://github.com/chaoss/grimoirelab-sirmordred/pull/408

[2020-02-25 10:24] #761 closed

[2020-03-04 10:01] #779 closed

[2020-03-06 06:35] lukaszgryglicki opened #795 "Groups.io "invalid start_time format" error when running using resume mode."
When attempting to get data from groups.io using `p2o.py` it tries to resume from where it left since last run and gets the following error:
`p2o.py --enrich --index sds-lfai-acumos-groupsio-raw --index-enrich sds-lfai-acumos-groupsio -e [redacted] -g --scroll-size 1000 --db-host [redacted] --db-sortinghat [redacted] --db-user [redacted] --db-password [redacted] groupsio deeplearningfoundation+acu

[2020-03-06 06:48] valeriocos commented on #795
Hi @lukaszgryglicki , this bug has been fixed yesterday. The fix will be available in the next release (0.2.39).

https://github.com/chaoss/grimoirelab-perceval/commit/f1bdd736d4d6145f5fca81912d70137948d5ed7a

[2020-03-06 09:15] lukaszgryglicki commented on #795
Great!
Can you ping me when that release is available? I'll generate a new base image then.
Thanks!

[2020-03-06 09:20] valeriocos commented on #795
sure! I close this issue in the meanwhile

[2020-03-06 09:20] #795 closed

[2020-03-08 16:51] snack0verflow opened #799 "[tests] Enable _test_csv_mappings"
While trying to increase code coverage of ELK tests I found that the following routine has been disabled: https://github.com/chaoss/grimoirelab-elk/blob/master/tests/base.py#L197
I tried enabling in but I ran into this problem:
[code]
Apparently we have a different schema for various github things like PRs and issues. Can anything be done to enable this routine?
@valeriocos

[2020-03-08 17:59] valeriocos commented on #799
Ideally, the enriched indexes should be checked against the schemas, that code was prepared time ago (https://github.com/chaoss/grimoirelab-elk/commit/523f044b8d75c717fbc67fb344988fbefc6a1365), but the schemas haven't been updated so far.

If you are up for this task, we can work together. We could evaluate which schemas should be updated and split the work in different PRs. WDYT?

[2020-03-08 19:04] snack0verflow commented on #799
@valeriocos seems like we can work on this. We can discuss on IRC tomorrow?

[2020-03-08 19:50] valeriocos commented on #799
sure @snack0verflow ! I'll ping you here as soon as i'm on IRC

[2020-03-09 09:38] valeriocos commented on #799
Hi @snack0verflow I'll be connected to IRC today from 14h to 17h (Madrid time)

[2020-03-09 13:37] snack0verflow commented on #799
@valeriocos pinged you

[2020-03-12 15:15] code-sleuth opened #802 "[gerrit] sortKey error when enriching gerrit data"
Command:
[code]

Error:
[code]

[2020-03-12 18:14] valeriocos opened #803 "Update schemas to latest format"
ELK keeps a description for each enriched data used to build the KIbiter dashboards. Such descriptions are stored in the folder [schema](https://github.com/chaoss/grimoirelab-elk/blob/master/schema) as CSV files. Over time, these descriptions have evolved and the current format is defined as a list of attributes that include the name, the type, whether the field can be aggregated and a description

[2020-03-13 07:24] lukaszgryglicki commented on #802
Seems like it goes into the `else` branch, where it "thinks" it will find `sortkey` which was used in older Gerrit releases (< 2.9).

Code structure suggests that < 2.9 should try `sortKey`, 2.9 does not support sort key and > 2.9 handles this differently.

Gerrit instance in this example is 3.1, so it should probably fall into > 2.9 ?

Or maybe I should just add a check `'sortKey' in entry` ?

[2020-03-13 07:36] lukaszgryglicki commented on #802
If I change `if gerrit_version[0] == 2 and gerrit_version[1] > 9:` to `if gerrit_version[0] > 2 or (gerrit_version[0] == 2 and gerrit_version[1] > 9):`

Then it assigns `next_item = 0` (for Gerrit 3.1), but then:
[code]

So I don't know how this code is supposed to work. The only thing I can do is just change:
`if entry is not None:` to `if entry is not None and 'sortkey' in entry:` in the fallbac

[2020-03-13 12:57] vchrombie commented on #803
Hi @valeriocos
I was trying to work on this issue.

I started with the askbot. In the process, I faced a few issues. I think there is a mistake in the [askbot configurations](https://github.com/chaoss/grimoirelab-sirmordred#askbot).

I think there is a typo with `askbot_enrcihed` in the setup.cfg
Also, it seems that https://ask.puppet.com/ is no longer active. I searched for some more askbot sites

[2020-03-15 13:45] vchrombie commented on #803
Hi @valeriocos

I changed it and I could be able to run the script, but unusually it is taking really long time. I will try to see what could be the issue and update you about it.

[2020-03-15 14:16] valeriocos commented on #803
Sorry for the late reply @vchrombie , I thought I had answered this message

Also, it seems that https://ask.puppet.com/ is no longer active. I searched for some more askbot sites, and I got this https://ask.sagemath.org/questions/. Is it required to change it?

Please fix the mistake. WRT the askbot server, there is no specific site to target. You can try with https://askbot.org (in the past we w

[2020-03-15 15:13] vchrombie commented on #803
No problem. :slightly_smiling_face:

Sure, I will do it by night.

Oh okay, I will try and get back to you.

Thanks for the reply @valeriocos.

[2020-03-17 03:02] WillemJiang opened #807 "How to setup the max_items_bulk on ElasticSearch Object from setup.cfg"
I ran grimoirelab from [docker compose file](https://github.com/chaoss/grimoirelab/blob/master/docker-compose/docker-compose.yml) to fetch the k8s github information.

I got the below error message after a while.

[code]

It looks like the bulk message much bigger than elastic server wants to consume.

[code]

After digging the code for a while, I found there is max_items_bulk setting on the  [Ela

[2020-03-17 07:05] WillemJiang commented on #807
I just found a way to override the bulk-size setting from the  setup.config by going through the code of [config.py](https://github.com/chaoss/grimoirelab-sirmordred/blob/master/sirmordred/config.py#L127).
BTW, Here are some [information](https://github.com/elastic/elasticsearch/blob/master/docs/reference/modules/http.asciidoc) about the http setting of elasitcsearch

[2020-03-17 08:08] valeriocos commented on #807
Hi @WillemJiang!

You should modify the param `bulk_size` (see details at https://github.com/chaoss/grimoirelab-sirmordred#general). Its value is set at https://github.com/chaoss/grimoirelab-sirmordred/blob/master/sirmordred/task_collection.py#L69

Please let me know if this solves your issue, thanks

[2020-03-17 12:34] WillemJiang commented on #807
@valeriocos  Thanks for the information, it helps.

[2020-03-17 12:34] #807 closed

[2020-03-17 12:54] heming6666 commented on #807
I have the same issue too. And the answer above works for me!

[2020-03-20 19:55] vchrombie commented on #803
Hi @valeriocos
Thanks for your earlier reply. It solved a few issues.

Just a quick update. I have executed the micro-mordred for the askbot backend.

![image](https://user-images.githubusercontent.com/25265451/77196120-bfccc580-6b08-11ea-9dbb-1089131fc90b.png)

It is taking so much time, but ya fine with it. After some time, the index was created and I could inspect the index using the kibiter.

[2020-03-25 18:37] vchrombie commented on #803
Hi @valeriocos

When I was working on the askbot schema, I faced a small issue during the enrichment face. Here is the log, [askbot-log](https://gist.github.com/vchrombie/44d60738a2c75b35d524bb7c93371537).

[code]

There was no trouble with the enrichment. I didn't understand what could the problem. I thought of asking it here.

[2020-03-25 19:08] valeriocos commented on #803
Hi @vchrombie,

This kind of issues is generally related to a user that removed his account. In this case, the enricher is assuming that the username is always there. A possible to solution is to use the get method as follows: `answer['answered_by'].get('username')`. However, this may require to patch other parts of the code.

Waiting for a patch to fix this bug :)

[2020-03-25 19:52] imnitishng opened #820 "[gitter] Adding data storage for gitter"
Since a new backend `gitter`  https://github.com/chaoss/grimoirelab-perceval/pull/632 has been added to perceval backend I was wondering if we can store the raw data in Elasticsearch and proceed forward to the implementation of this backend in `sir-mordred`?
I can start working on this. Please inform me if there some complications I'm missing.
WDYT @valeriocos?

[2020-03-25 20:10] vchrombie commented on #803
Hi @valeriocos.

Thanks for the clarification.

Other parts you mean, in elk.py or just askbot.py?

Can I work on this, if you don't have any problem?

[2020-03-26 07:29] valeriocos commented on #820
Hi @imnitishng , that's a good idea!

Please start when you have time. As a reference, have a look at the raw and enrich connectors of mattermost (I guess they will be simiar to the ones for Gitter):
- https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/raw/mattermost.py
- https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/mattermost.py

Thanks!

[2020-03-26 07:30] valeriocos commented on #803
You're welcome!

Just askbot.py

Sure, please start when you have time

Thanks!

[2020-03-26 07:33] imnitishng commented on #820
Sure I will start the work and send a PR ASAP. Thanks.

[2020-03-26 07:45] animeshk08 opened #821 "[Pagure] Implement Pagure backend to GrimoireLab ELK"
A new backend [Pagure](https://github.com/chaoss/grimoirelab-perceval/pull/621) has been added to Perceval. Implement the backend to store the indexes in GrimoireLab ELK

[2020-03-26 07:46] animeshk08 commented on #821
Sorry for the delay with this work. I was still yet to be comfortable with the working of ELK and was also lagging a bit in the micro-tasks, I will submit a PR for this soon.

[2020-03-26 08:06] valeriocos commented on #821
Hi @animeshk08 , no worries! Feel free to start when you have time, thanks!

[2020-03-26 13:54] jjmerchante opened #822 "Anonymize user information coming from Perceval"
We need a way to anonymize the personal information that comes from Perceval. Names, emails and information that may be related to the users of each backend must be hidden.

The information stored in the Elasticsearch indexes should only be identifiers that cannot be related directly with the user.

I will open a pull request for Git, GitHub, Gitlab and Meetup that are the current data sources of

[2020-03-30 16:17] #822 closed

[2020-03-30 16:18] valeriocos commented on #822
Fixed with #824

[2020-03-30 19:54] imnitishng opened #825 "pair_programming for git backend doesn't work right"
So I was exploring the Git enricher and came through this issue with  `pair_programming` set to `true` in `setup_cfg`.

The variables `m` and `n` set [here](https://github.com/chaoss/grimoirelab-elk/blob/8ea3455bd639de695e1a4d2f56ed86df4e5818c7/grimoire_elk/enriched/git.py#L414) through regex don't seem to work for the repository with multi-authored commits I've chosen (https://github.com/juliette

[2020-03-30 20:04] imnitishng commented on #825
What I am thinking of is updating the regular expressions `AUTHOR_P2P_REGEX` and `AUTHOR_P2P_NEW_REGEX` to extract the names of both the committers correctly and then changing the logic used in `self.__get_authors()` method to return correct values to store in `item['data']['authors']`.
But the problem is there is no way to extract the real name of the second committer from
[code]

[2020-03-31 07:59] valeriocos opened #826 "[meetup] KeyError: 'lat'"
[code]

[2020-03-31 09:47] imnitishng commented on #825
@valeriocos please have a look.

[2020-03-31 13:16] valeriocos commented on #825
Hi @imnitishng I'm not sure I'll be able to check it today. Sorry for the inconvenience.

[2020-03-31 13:32] imnitishng commented on #825
@valeriocos it's fine. Please have a look when you have the time to.

[2020-03-31 17:02] #826 closed

[2020-04-02 18:16] imnitishng commented on #825
Hi @valeriocos sorry to bug, but can you test this so I can work on increasing coverage to 80%.
Because tests don't seem to work for the  `pair_programming` parameter.

[2020-04-03 10:37] valeriocos commented on #825
I'm on it @imnitishng , sorry for the late reaction

[2020-04-03 12:06] valeriocos commented on #825
Thank you @imnitishng to have a look at this.

The problem should be due to the fact that both regexps (seem them below) assume that the author/committer have a first name and last name. In the example you report, there is a missing name (`mariiapunda <...>`)

[code]

I have tried with the following conf/repo and the pair-programming works fine.
- setup.cfg
[code]
- projects.json
[code]

Perceval

[2020-04-03 12:10] valeriocos commented on #825
To make sure that the new regexp works with should have test cases for both scenarios.

WRT increase the test coverage, I guess the easiest thing is to add/modify the test data for Git (https://github.com/chaoss/grimoirelab-elk/blob/master/tests/data/git.json) to have a commit with pair programming info.

WDYT?

[2020-04-03 12:47] imnitishng commented on #825
Hi @valeriocos I get what you're saying, can you please clear up why `AUTHOR_P2P_NEW_REGEX`  exists then?
In the repository commit that I tested on ([here](https://github.com/juliettepretot/npx-co-commit/commit/c763cb96560bf30acf02f48205f731d92b910ca0)) the commit message states

Co-authored-by: mariiapunda <mariiapunda@users.noreply.github.com>

And `AUTHOR_P2P_NEW_REGEX` extracts the author user

[2020-04-03 14:51] code-sleuth opened #829 "[confluence] missing data due to p2o not fully enriching confluence index"
Issue:
There is a lot of missing data in the created confluence index.

command:
[code]

error:
[code]

[2020-04-03 15:21] valeriocos commented on #829
Hi @code-sleuth ,

It seems that your instance doesn't have enough resources, try to decrease the bulk size to 10:
[code]

Let me know how it goes, thanks!

[2020-04-03 16:03] valeriocos commented on #825
Hi @imnitishng ,

I undestand that the two regexps are used to catch author/committer information which may appear with the following shape:
- author1 and author2
- co-authored-by author

The cast to `set` and `list` is used to avoid duplicated authors: https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/git.py#L132

`AUTHOR_P2P_NEW_REGEX` exists because user information ca

[2020-04-04 07:19] imnitishng commented on #825
Yes.

I think there might be a change since this implementation because now `co-authored` info is available in `item[data][message]`, and not in `item[data][Author]` based on [this](https://github.com/chaoss/grimoirelab-elk/blob/8ea3455bd639de695e1a4d2f56ed86df4e5818c7/grimoire_elk/enriched/git.py#L415) logic.

Anyway, thank you very much, I will send a PR with added data for pair-programming in [

[2020-04-06 11:30] code-sleuth commented on #829
Hi @valeriocos thanks, that worked. But there's still missing data in the created index.
For example when i run the query below:
[code]
I get a `doc_count` of just 2 which is way off from what its supposed to be for the past 90 days.
Reference: https://wiki.opnfv.org/pages/viewpreviousversions.action?pageId=2925933

[2020-04-06 14:00] valeriocos commented on #829
Hi @code-sleuth , which version of ELK are you using?

Do you have some logs of the last execution?

Thanks

[2020-04-06 15:25] code-sleuth commented on #829
**grimorelab-elk Version:** 0.70.0

[2020-04-06 15:27] code-sleuth commented on #829
[logs.txt](https://github.com/chaoss/grimoirelab-elk/files/4439287/logs.txt)

[2020-04-06 16:23] valeriocos commented on #829
Thank you for the info @code-sleuth . The logs seem clean.

Can you try to re-collect the data using new raw and enriched indexes? Thanks

I have tried an execution with [micro mordred](https://github.com/chaoss/grimoirelab-sirmordred#micro-mordred-) and the collection is executing smoothly (see configuration below).

 **snippet setup.cfg**
[code]

**snippet projects.json**
[code]

[2020-04-07 05:01] lukaszgryglicki commented on #829
Missing data may be due to failure and then next subsequent runs continuing from the newest timestamp ever recorder.

[2020-04-08 07:53] heming6666 opened #835 "[Gitee] Add Gitee backend support to GrimoireLab ELK"
This PR [chaoss/grimoirelab-perceval/pull/645](https://github.com/chaoss/grimoirelab-perceval/pull/645) is working on adding `Gitee` backend support to `Perceval`. So maybe I can try to implement the `Gitee` backend to store the indexes in GrimoireLab ELK.

Since `Gitee` provides similar service as Github does, I will look at the raw and enrich connectors of `Github`  for reference.

WDYT @valerio

[2020-04-08 16:14] valeriocos commented on #829
@code-sleuth can we close this issue?

[2020-04-08 16:15] valeriocos commented on #783
Fixed with #786

[2020-04-08 16:15] #783 closed

[2020-04-08 16:19] valeriocos opened #836 "Update bugzilla csv to latest format"
Following https://github.com/chaoss/grimoirelab-elk/issues/803, the goal of this issue is to update the schema of Bugzilla: https://github.com/chaoss/grimoirelab-elk/blob/master/schema/bugzilla.csv

Micro-mordred[*] should be executed to collect and enrich the bugzilla data. Then, the enriched documents should be inspected using the dev tools or the discover of Kibiter. For each attribute found in

[2020-04-08 16:42] vchrombie commented on #836
Hi @valeriocos
I think this is already a duplicate of the same issue. I mean Bugzilla was already mentioned in issue #803.
Let me know if there is anything specific reason for opening this which I might have missed.
Thanks.

[2020-04-08 16:50] vchrombie commented on #803
The updated list is

- [ ] https://github.com/chaoss/grimoirelab-elk/blob/master/schema/stackoverflow.csv
- [x] https://github.com/chaoss/grimoirelab-elk/blob/master/schema/dockerhub.csv
- [ ] https://github.com/chaoss/grimoirelab-elk/blob/master/schema/meetup.csv
- [ ] https://github.com/chaoss/grimoirelab-elk/blob/master/schema/bugzilla.csv
- [x] https://github.com/chaoss/grimoirelab-elk/blob/ma

[2020-04-08 17:22] valeriocos commented on #836
Hi @vchrombie, your right! Bugzilla was listed in #803. However I thought that issue was too generic. Sorry for the misunderstanding!

If you are on it, we can close this issue (or leave it open if this is convenient for you). As you prefer :)

[2020-04-08 17:24] vchrombie commented on #836
It is fine, we can leave it like this. Not a big deal. :slightly_smiling_face:
Thanks.

[2020-04-08 17:26] vchrombie commented on #836
Also, @sanjana091001 would you like to work on this issue?
I can help you if you have any doubts.

[2020-04-08 17:34] valeriocos commented on #836
That's perfect! Thanks!

[2020-04-08 17:40] sanjana091001 commented on #836
yes, I'd like to work with this.
Thanks @vchrombie :)

[2020-04-09 08:05] sanjana091001 commented on #836
Hello,
 I have finished setting up Grimoirelab, and have started working on this issue .

[2020-04-09 08:33] valeriocos commented on #836
Great, thank you for working on this @sanjana091001

[2020-04-09 16:50] valeriocos commented on #835
Hi @heming6666 thank you for your proposal, it would be great! Let's wait some time to see when/where the `Gitee` backend will be added.

The GitLab connectors can be also useful to check, since they are simplified version of the ones for GitHub.

Thanks!

[2020-04-09 19:57] valeriocos opened #837 "Make sure that all indexes are deleted when a test is finished"
When executing the test suite, only the raw and enriched indexes are deleted, see https://github.com/chaoss/grimoirelab-elk/blob/master/tests/base.py#L145.

A possible solution is to change the logic at https://github.com/chaoss/grimoirelab-elk/blob/master/tests/base.py#L145 to delete all indexes or use wildcards (https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-delete-index

[2020-04-09 19:57] valeriocos commented on #837
@imnitishng let me know if you want to work on this issue, thanks!

[2020-04-09 20:00] imnitishng commented on #837
Yes sure @valeriocos. I'll start the work ASAP!

[2020-04-09 20:05] valeriocos commented on #837
Thank you @imnitishng !

[2020-04-10 02:47] heming6666 commented on #835
Thank you @valeriocos for your reply!

I will follow the discussion raised in [grimoirelab-perceval/pull/645](https://github.com/chaoss/grimoirelab-perceval/pull/645) and [grimoirelab-perceval/pull/640](https://github.com/chaoss/grimoirelab-perceval/pull/640) around the integration of Gitee backend.

Thanks for your suggestion. I am trying to dive into the code of GitHub/GitLab connectors and will

[2020-04-10 13:24] teragopher opened #839 "[groupsio] Getting Client Error 429 using p2o.py but corresponding perceval call works"
**perceval version number: 0.13.0**

Hi,

When I run this command to enrich index

[code]

I get this error
[code]

But when i run the corresponding perceval command from same host like this
[code]
It works.. I don't get any 'Too Many Requests' Error

Any idea why this is happening?

Thanks,
Mike.

[2020-04-10 15:48] valeriocos commented on #839
Hi @teragopher!

The error should be similar to https://github.com/chaoss/grimoirelab-perceval/issues/650. Can you try to install ELK from source code?

I see that in the readme of ELK there is no installation section. It would be great if you would like to submit a PR to add that section. This section would be similar to the one of [perceval](https://github.com/chaoss/grimoirelab-perceval#install

[2020-04-10 15:53] #837 closed

[2020-04-10 19:12] lukaszgryglicki opened #841 "Perceval git backend error "item['data']['Author']""
[code]

[2020-04-11 00:36] code-sleuth commented on #829
yes, thanks for your support @valeriocos .

[2020-04-11 06:57] valeriocos commented on #829
You're welcome @code-sleuth

[2020-04-11 06:57] #829 closed

[2020-04-11 07:03] valeriocos commented on #825
@imnitishng can we close this issue or there is something left to do (maybe improving the documentation)?

I understand that the PR https://github.com/chaoss/grimoirelab-elk/pull/832 shows that the pair programming study works fine

[2020-04-11 07:08] imnitishng commented on #825
Hi @valeriocos
I'm sorry I don't see the places where documentation might need improvement.
If there is work to do then please guide me I'll finish it, other than that I think the issue can be closed.

[2020-04-11 07:43] valeriocos commented on #825
Hi @imnitishng , thank you for the quick answer!

I would improve the docstring at https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/git.py#L390 to explain the overall process to identify and handle pair programmed commits. The docstring could also include snippets of Perceval documents to let the developer understand which commits are considered as pair programmed and wh

[2020-04-11 07:51] valeriocos opened #840 "Evaluate how to increase test coverge for enriched/mbox_study_kip.py"
The test coverage of https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/mbox_study_kip.py is extremely low.  This is probably due to the fact that the [test data](https://github.com/chaoss/grimoirelab-elk/blob/master/tests/data/mbox.json) for mbox doesn't contain information to trigger this study (ref [here](https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_el

[2020-04-11 07:52] valeriocos commented on #840
@imnitishng let me know if you are interested in taking this issue (it isn't urgent), thanks!

[2020-04-11 08:03] imnitishng commented on #840
Hi @valeriocos, I'd love to work on this. As soon as I complete some work on other PRs I will start the work here. Thanks.

[2020-04-11 08:03] imnitishng commented on #825
Okay sure, I will do it and update the PR. Thanks.

[2020-04-11 08:18] valeriocos commented on #841
I'm not able to replicate the issue (I'm using the lastest versions of ELK and Perceval) on the repo https://github.com/cloudfoundry/bosh-aws-cpi-release.

[code]

[2020-04-11 08:20] valeriocos commented on #840
Great, thank you for helping @imnitishng !

[2020-04-11 08:57] animeshk08 commented on #836
Hi @valeriocos @vchrombie. I had created a script yesterday to generate the schema for Pagure. It's based on the same logic as the script of [microtask-8](https://github.com/animeshk08/gsoc-chaoss-microtasks/blob/master/microtask-8/data/script.py). I have modified it a bit to support any index. Let me know it helps with this work :)

Here is the link: https://gist.github.com/animeshk08/0a8dafa6682

[2020-04-11 09:08] lukaszgryglicki commented on #841
Using all grimoire tools from `master` - image compiled about 3 days ago, exact commandline:
[code]
Hmm - and I see that error for many other coundfoundry repos, strange...

[2020-04-11 09:52] valeriocos commented on #841
I don't see that error with the master branch. I have also checked the logs of the cloudfoundry instance Bitergia mantains, and the error doesn't appear there.

[code]

The problem you see could be related to a recent change to anonymize Git data (see pointers below) which hasn't been applied to p2o, however the `anonymize` param is set to `False` by default and shouldn't affect the working of p2o

[2020-04-11 09:54] valeriocos commented on #836
Hi @animeshk08 thank you for sharing the script. It could be useful to speed up the creation of the missing/not up-to-date CSV files. @vchrombie @sanjana091001 WDYT? Can you give it a try for the CSVs you are working on?

Thanks!

[2020-04-11 10:08] lukaszgryglicki commented on #841
Will definitely do after the holidays, thanks!

[2020-04-11 20:09] imnitishng opened #842 "[Zulip] Implement Zulip backend to Grimoirelab ELK"
I don't know if it's too soon for this, but Zulip backend is in progress for perceval. I'd love to add the support for data enrichment and panels once it is completed.

[2020-04-11 20:23] vchrombie commented on #841
Hi
Recently, I saw similar issue, https://github.com/chaoss/grimoirelab-elk/issues/803#issuecomment-604014680.

Not sure if it is relevant but thought of referring it here.

[2020-04-12 06:53] valeriocos commented on #842
Hi @imnitishng, thank you for offering your help!

 Since the implementation of the Zulip backend can take some time, would you like to implement the support for the data coming from the Launchpad [backend](https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/launchpad.py)? As you can see [here](https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/raw/lau

[2020-04-12 07:04] valeriocos commented on #841
Hi @vchrombie , thank you for the pointer! I'm not sure the errors are related, since this one seems to be linked to a new feature included at https://github.com/chaoss/grimoirelab-elk/pull/824.

[2020-04-12 07:54] imnitishng commented on #842
Okay thanks @valeriocos, I will start working on this.

[2020-04-12 10:55] kshitij3199 opened #843 "Add test for enrich_git_branches() method in test_git.py file"
Hi @valeriocos ,
I was thinking of adding test for [enrich_git_branches() ](https://github.com/chaoss/grimoirelab-elk/blob/3685d7d7366cc2ea8c7ba66bf08a683adfe97c56/grimoire_elk/enriched/git.py#L512)method in test_git.py file for increasing the coverage.
What do you think?

[2020-04-12 12:44] valeriocos commented on #843
Hi @kshitij3199! That's a good idea, feel free to give it a try and don't hesitate to write if you need any help, thanks!

[2020-04-13 10:42] valeriocos commented on #839
@teragopher let's close this issue, feel free to reopen it if needed. Thanks!

[2020-04-13 10:42] #839 closed

[2020-04-13 10:44] valeriocos commented on #782
Fixed with #786

[2020-04-13 10:44] #782 closed

[2020-04-13 21:41] imnitishng commented on #825
Hi @valeriocos, have a look at the PR, tell about any changes you want to add, else we can close the issue.

[2020-04-14 02:59] teragopher commented on #839
HI @valeriocos

Thanks for this. Seems to work now.
For missing installation readme, would be a pleasure. I will send in a PR shortly.

[2020-04-14 06:20] valeriocos commented on #825
Thank you @imnitishng , I left some comments. Please consider to edit the body of the pull request with `Fixes #825`. So, once the PR is merged, this issue will be automatically close.

[2020-04-14 06:34] valeriocos commented on #839
Great, thanks @teragopher for contributing!

[2020-04-14 12:12] animeshk08 opened #846 "[enrich] Update decorator to add metadeta only for non-empty items"

[2020-04-14 12:23] animeshk08 commented on #846
Proposed solution:
* Add the below check to
https://github.com/chaoss/grimoirelab-elk/blob/48486d09092f466b21572ac3b9182f4e6310c544/grimoire_elk/enriched/enrich.py#L93
[code]

* Add a check the enricher for backends e.g. in :
https://github.com/chaoss/grimoirelab-elk/blob/48486d09092f466b21572ac3b9182f4e6310c544/grimoire_elk/enriched/github2.py#L389

[code]

[2020-04-14 12:24] animeshk08 commented on #846
Hi, @valeriocos, I have mentioned the solution in-depth here. Let me know if it looks good to you :)

[2020-04-14 13:34] vchrombie commented on #836
Sorry @animeshk08 @valeriocos, I missed the messages.
Thanks for the suggestion. I will try the script on meetup or stackoverflow and let you know how it goes.

[2020-04-14 13:34] vchrombie commented on #836
I just want to reference another PR (#847) as it will affect if the fork is not updated.

[2020-04-15 06:14] #825 closed

[2020-04-15 06:40] lukaszgryglicki commented on #841
So adding `anonymize` param doesn't change anything: Error is exactly here: https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/git.py#L139

Code assumes that `item['data']['Author']` is always present, while it is not the case sometimes.

I've made a breakpoint:
[code]

And here you go:
[code]

I will create a PR that fixes this - just skip enriching items without Author,

[2020-04-15 07:03] lukaszgryglicki commented on #841
Ooooh, I have an idea. This data looks rather like data from GitHub... that index is very old, maybe somebody just put GitHub data in that index and now `p2o.py` is trying to enrich git data on GitHub index. I'll try dropping that index and running command on the new index instead.

[2020-04-15 07:09] lukaszgryglicki commented on #841
Yes, it seems to be due to junk data in those old indices. Running without raw and enriched indexes is OK, this can be closed.

[2020-04-15 07:09] valeriocos commented on #846
Hi @animeshk08 , your solution looks good, however I don't know if these changes may have side effects. I understand that they shouldn't, but I'm not sure.

[2020-04-15 07:11] valeriocos commented on #841
Great, thank you for your feedback @lukaszgryglicki

[2020-04-15 07:11] #841 closed

[2020-04-15 07:26] animeshk08 commented on #846
Okay, Let me know how we should move ahead.

[2020-04-15 12:29] valeriocos commented on #846
@animeshk08 , can you prepare a pull request with the suggested changes. I'll perform with it some long-execution tests. Thanks!

[2020-04-15 12:48] animeshk08 commented on #846
Thanks. I am on it!!

[2020-04-15 16:54] #821 closed

[2020-04-16 08:03] #820 closed

[2020-04-17 09:36] jsmanrique opened #850 "github2 and ocean missing csv schema"
It seems that GrimoireLab produces indexes called `github2`, `ocean`, and `ocean_tickets` but I cannot see its schema in [existing documentation](https://github.com/chaoss/grimoirelab-elk/tree/master/schema).

Wouldn't it be nice to have the schema updated?

[2020-04-17 10:05] valeriocos commented on #850
It seems you are using an old version of GrimoireLab.

Github2 schemas are:
- https://github.com/chaoss/grimoirelab-elk/blob/master/schema/github2_issues.csv
- https://github.com/chaoss/grimoirelab-elk/blob/master/schema/github2_pull_requests.csv

The aliases of these indexes are listed at:
- https://github.com/chaoss/grimoirelab-sirmordred/blob/master/aliases.json#L219
- https://github.com/chaoss

[2020-04-17 13:05] jsmanrique commented on #850
Maybe I am, or maybe [Cauldron.io](https://cauldron.io) people are.

I'll reopen [a ticket there](https://gitlab.com/cauldronio/cauldron/-/issues/222) to clarify it.

Thank you @valeriocos !

[2020-04-17 13:08] valeriocos commented on #850
Ok, perfect, thanks @jsmanrique !

[2020-04-28 09:42] #840 closed

[2020-04-29 04:58] animeshk08 opened #867 "[slack] FIles are not getting enriched"
The enricher for makes an attempt to enrich the files which are sent as messages:
https://github.com/chaoss/grimoirelab-elk/blob/ac8df68d889a7a4eb2b5f0c693364eeafcb3ec80/grimoire_elk/enriched/slack.py#L146

However, the response returned from Perceval is the field `files` which is a list of file JSONs. FInd sample response below
[code]

I think the files should be enriched as a sperate document si

[2020-04-30 08:52] linonymous opened #868 "[Git] Data mismatch for lines of code added/removed for a release commit"
**Issue:**
The lines of code added and removed do not match with the exact commit data on github.

**Command:**
[code]

**Data for a commit (JSON)**

Actual Data:
[code]

Expected Data:

For the following commit:
https://github.com/cntt-n/CNTT/commit/11f95c46df5e4c6a3b4c28ee3a8ab7c9cb172fe7

lines_added : 3085
lines_removed: 188

[2020-04-30 13:25] valeriocos commented on #867
Hi @animeshk08 , thank you for reporting this issue! `File` isn't used in the sigils dashboard ( https://github.com/chaoss/grimoirelab-sigils/blob/master/json/slack.json), so I guess it will be better to either:
- remove the code you reported
- add a simple metric (number of files)

ATM I don't see the advantage of having visualizations specific to file data. Do you have some scenario where this m

[2020-04-30 16:20] valeriocos commented on #867
That's an interesting point! Maybe this information can be useful at macro-level (no need to know the single files). For instance, 2 metrics could provide the total number of files and size per message. This would allow to know the developers that are maybe abusing of slack instead of using an issue tracker.

WDYT?

[2020-04-30 16:32] animeshk08 commented on #867
Sounds good I will create PR to add these two metric and remove the enrichment of files :)

[2020-04-30 16:33] valeriocos commented on #867
cool! thanks @animeshk08 !

[2020-05-01 09:51] valeriocos commented on #868
Hi @linonymous, thank you for reporting this issue!

**Context**
From the command posted above, I see that you are fetching data from this repo: https://github.com/pndaproject/platform-salt. I understand that you are reporting a mismatch between the data of the GitHub UI and the one generated by ELK.

I don't understand why you are then referencing a different commit of another repo, can you clari

[2020-05-01 19:06] #867 closed

[2020-05-13 05:12] lukaszgryglicki opened #874 "[question] re-enriching the data"
Hi, I have a question.
- I've collected data using `p2o.py --enrich --index ... --index-enrich ... -e ... -g  --db-host ... --db-name ... --db-user ... --db-password ... datasource endpoint ...`
- Then I've changed profile data (name, emails etc) in the Sorting Hat database (not only enrollments data, but profile data too)
- Then I've run `p2o.py` in "refresh identities mode" (we're using this to

[2020-05-13 09:17] valeriocos commented on #874
Hi @lukaszgryglicki ,

The flag `no_incremental` doesn't seem to be needed, since it is used in the block in charge of refreshing the identities: https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/elk.py#L497. The other flags (`only-enrich` and `refresh-identities`) are needed instead:
- https://github.com/chaoss/grimoirelab-elk/blob/master/utils/p2o.py#L74
- https://github.com/cha

[2020-05-13 09:24] lukaszgryglicki commented on #874
Thanks for the info, I'll take a look when I can (asap), I only need to tell that I also want to update past data, so I guess `no_incremental` is really needed. I'm already using `only-enrich` and `refresh-identities`, (using those 3 flags). That combination correctly refreshes enrollments data including the past. But now I'm wondering how to update profile data (in ES, including past) when data c

[2020-05-13 13:04] lukaszgryglicki opened #875 "Jenkins data collected by p2o.py seems to be incomplete"
Hi, when I run:
-  `p2o.py --enrich --index jenkins-raw --jenkins -e [redacted] -g --db-host ... --db-sortinghat ... --db-user ... --db-password ... jenkins https://jenkins.opendaylight.org/releng/ --no-archive`
it seems like some data is not collected.
Log includes:
[code]
What does it mean? How can I fix this?

[2020-05-13 16:10] valeriocos commented on #874
You're welcome!

Ok!

Why you need to change this data?

[2020-05-13 16:14] lukaszgryglicki commented on #874
Good question, this is just the functionality we want to achieve. Somebody changed data on the SH DB via UI, so we want that change to be reflected in ES.

[2020-05-13 16:46] valeriocos commented on #874
This seems the behavior currently implemented.

Let's suppose someone updates a profile name via HatStall, the code at https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/enrich.py#L772 (details `eitem_sh[rol + "_name"] = profile.get('name', eitem_sh[rol + "_name"])`) will give priority to what is set in the profile (`profile.get('name' ...`). If the name isn't found, the v

[2020-05-13 17:19] lukaszgryglicki commented on #874
We're updating the SortingHat database via our own API, so SH DB is updated - this is not a problem. The problem is how to call `p2o.py` command to update data in ES, including past data (exactly as it does for enrollments that when they change on the SH DB when called with `--only-enrich --refresh-identities --no_incremental` flags)

[2020-05-14 12:00] valeriocos commented on #875
Hi @lukaszgryglicki,

The problem occurs in this block https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/jenkins.py#L144-L164 and it is due to the fact that some jobs don't follow the schema defined in that code.

We can improve the code to be aligned with the schema followed by the jobs in https://jenkins.opendaylight.org/releng/

[2020-05-14 12:07] lukaszgryglicki commented on #875
Would be great to have that! THANKS!

[2020-05-14 12:23] valeriocos commented on #875
Perfect, you're welcome! How do you want to proceed?

Please note that the problem doesn't affect the working of the enricher, just that the information collect from [get_fields_from_job_name](https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/jenkins.py#L236) won't be inserted in the enriched items.

[2020-05-14 13:21] lukaszgryglicki commented on #875
So there will be no changes in enriched ES index right? If so then we don't need to change anything. We're not using raw indices for anything.

[2020-05-14 14:20] valeriocos commented on #875
The enriched index will include values for the fields below.
[code]
In your case when you see the log message `[jenkins] Problems parsing job name...`, these fields are empty

[2020-05-15 08:44] valeriocos commented on #875
@lukaszgryglicki please let me know if we can close this issue or there is some action to take, thanks

[2020-05-15 08:52] lukaszgryglicki commented on #875
I'll ask my team.

[2020-05-15 09:01] valeriocos commented on #874
I understand that if this code https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/enrich.py#L770-L782 is removed, the profile data will be updated like the enrollments.

[2020-05-15 09:06] lukaszgryglicki commented on #874
That would make a simple patch or maybe worth implementing command line flag to support that mode of operation?

[2020-05-15 10:48] valeriocos commented on #874
That code cannot be removed from the ELK repo, because it would change the current behavior.

If you want to have this feature in the ELK repo, the command line flag could be an option. However, the new param will affect the definition of different methods/functions (not sure if the list below is complete):
- https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/elk.py#L409
- https://

[2020-05-15 10:51] lukaszgryglicki commented on #874
Yeah, I was thinking about leaving the current behaviour as default and adding a parameter/flag. Will discuss that with my team and eventually create a PR that adds this functionality.
Thanks for the help!

[2020-05-15 10:56] valeriocos commented on #874
Ok, perfect! you're welcome!

[2020-05-17 19:48] vchrombie opened #876 "[Rocket.Chat] Add rocketchat backend support to ELK"
This issue in reference to the PR, https://github.com/chaoss/grimoirelab-perceval/pull/661.

It is about adding rocketchat backend support to grimoirelab-elk.

@animeshk08, I want to know if you are working on this. If not, I would like to take this up this, and would you be interested to review? As you have some pretty good experience with elk already, it would be great if you can help me by revi

[2020-05-18 02:10] animeshk08 commented on #876
Hi, @vchrombie. Sorry, but I have already created the enricher for this backend. I just to finalize the unit tests and I will be creating a PR either today or tomorrow :)

[2020-05-18 05:18] vchrombie commented on #876
No problem, you can complete the PR. You can reference this issue so that it would close after the PR is merged.

[2020-05-19 09:36] imnitishng opened #877 "Refactoring Enrich class"
Enrich class currently performs a lot of things which can be refactored into separate modules.
This issue will serve as the main discussion channel for the objective.

[2020-05-19 09:46] imnitishng commented on #877
Hi @valeriocos, I went through the code having the objective in mind.
A starting point I could think of is creating a new class for handling Identities,
The class would contain functions listed below -

[code]
and other identity related method for different backends.

Each backend class will also act as a subclass derived from this class, similar to the `Enrich` class.
Would like to know your and

[2020-05-19 10:25] lukaszgryglicki commented on #874
I think we can close this, thanks again for all your help!

[2020-05-19 10:35] valeriocos commented on #874
Thank you for the info @lukaszgryglicki

[2020-05-19 10:35] #874 closed

[2020-05-19 13:01] valeriocos commented on #877
Hi @imnitishng , thank you for opening this issue.

Would be possible to align your proposal to the identities module recently added (https://github.com/chaoss/grimoirelab-elk/tree/master/grimoire_elk/identities)?

Would be possible to target the data anonymization as part of the functions/methods you listed?

Thanks

[2020-05-21 07:17] lukaszgryglicki opened #879 "Jenkins - Max retries exceeded"
- Hi, I'm getting this error, what can I do?
- The error message seems to point that ES timeouts and after a few retries, it fails. But ES is fine, checked its state - its healthy and other commands executed from different terminals are working OK
- Tried with bulk settings: `1000`, then `100` finally `10` - nothing helps.
- Here are logs, any suggestions `p2o.py --enrich --index jenkins-raw --ind

[2020-05-21 08:13] heming6666 commented on #835
Hi @valeriocos , I saw that there are some proposals and discussion about integrating `Airtable`, `Gitee` and `Trello` backend to Perceval. And the current scenario we have is that people have their own repositories for these backends. In the case of  `Gitee`, here's the [grimoirelab-perceval-gitee](https://github.com/WillemJiang/grimoirelab-perceval-gitee/) repository.

So I wonder if we can have

[2020-05-23 05:21] heming6666 opened #880 "[Proposal] Plugin mechanism for ELK"
## Why we need it?

There are more and more proposals about adding support for some backends that are not covered by Grimoirelab:

- Add Gitee backend support to GrimoireLab ELK: #835
- Implement Zulip backend to Grimoirelab ELK: #842
- Add rocketchat backend support to ELK: #876

and so on.

**For `Perceval`**, some discussions were raised whether these backends should be integrated to the core o

[2020-05-23 05:52] valeriocos commented on #835
Hi @heming6666 , sorry for the late reply !

I think it's a great idea and overcome the current blockers to include new backends to Perceval.
Thank you for opening the PR!

[2020-05-23 07:38] valeriocos commented on #880
Hi @heming6666 ,

Thank you for opening this issue and showcasing your proposal with the demo repository. I really like the idea and appreciate your effort to present it.

We can use the Gitee connectors as a pilot study, and shape the process to share the plugins, WDYT?

WRT the modification on ELK, why we cannot use [namespace_packages](https://github.com/chaoss/grimoirelab-perceval/blob/master/

[2020-05-23 08:06] imnitishng commented on #877
Hi @valeriocos, I did some changes, moved methods and ran tests for github backend, they seem to work fine. Here is the branch please have a look at it here https://github.com/imnitishng/grimoirelab-elk/tree/identities_test/grimoire_elk/identities

I believe this can act as a starting point, I will start testing the idea for all the ELK backends to ensure nothing breaks after you approve this.

Ye

[2020-05-23 08:08] valeriocos commented on #879
Hi @lukaszgryglicki , sorry for the late reply!

The problem may be due to the presence of a large document that exceeds the max content of an HTTP request. You can try to modify your docker-compose to change the value of `http.max_content_length`. You can find an example of it at:
https://github.com/crossminer/scava-deployment/blob/master/docker-compose.yml#L140

Hope this helps!

[2020-05-23 08:11] lukaszgryglicki commented on #879
Great, thanks, we're using managed ES, but maybe it is possible to set that value there.

[2020-05-24 09:06] valeriocos commented on #877
Hi @imnitishng

Thank you for sharing the branch. The approach looks good! Please consider to include tests for each commit to ease the review process.

Perfect! I understand we can extend https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/identities/github.py and apply the same approach to the other backends.

So the basic idea being that all the data enrichment (creating new enri

[2020-05-24 09:23] imnitishng commented on #877
Thank you @valeriocos for the review.
So I will start on with the work ASAP.
I will be creating a PR soon with separate  commits for each backend and their respective tests.
A similar idea can be applied to move studies out of the `Enrich` class, we can tackle it in further iterations.

[2020-05-24 09:28] valeriocos commented on #877
Thank you @imnitishng !

Perfect, take all the time you need

Yes! :)

[2020-05-25 03:49] heming6666 commented on #880
Hi @valeriocos , sorry for the late reply.

Yes. I would be glad to implement the Gitee backend and will update the process in #835 .

That's a  good idea and I have updated the [demo repository](https://github.com/heming6666/python-plugins-test), which shows namespace_packages work well in this case.

However, I have two questions here:

- The first one is that when users want to use third-party

[2020-05-25 07:29] sduenas commented on #880
I would like to explore the idea of using entry points. There was a similar comment about using it in Perceval a few months ago. What I'm not sure is if this is the best way to use them.

[2020-05-25 08:11] valeriocos commented on #880
Hi @heming6666 ,

Thank you for the details

Perfect!

The entry_points solution looks much better from the users perspective.

Reading the pointers you shared, the Native namespace packages are easier to manage and more recent than pkgutil-style namespace packages

[2020-05-25 10:27] WillemJiang commented on #880
+1 for using entry_points, as we can add more metadata information on the entry_points from utils.py to load.
For Perceval, we just load the Backend and BackendCommand classes in [_import_backends(modules) ](https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backend.py#L1013)

[2020-05-25 10:44] valeriocos commented on #880
I would move the discussion about how to do it in Perceval to the Perceval issue tracker

[2020-05-31 17:09] heming6666 commented on #835
Here's the initial implementation of [grimoirelab-elk-gitee](https://github.com/heming6666/grimoirelab-elk-gitee). It registered the named entry points `grimoire_elk` in [`setup.py`](https://github.com/heming6666/grimoirelab-elk-gitee/blob/280eea4fe9b55f2880e278c8d63f23ddd66d915a/setup.py#L55):

[code]
And in [`grimoire_elk_gitee/utils.py`](https://github.com/heming6666/grimoirelab-elk-gitee/blob/

[2020-05-31 17:14] heming6666 commented on #880
Hi everyone, Sorry for the delay in replying :)

I created a pull request #885 that uses entry points approach to support plugin mechanism. Please help to review it.

Besides, I have updated the [proof-of-concept repository](https://github.com/heming6666/python-plugins-test) that used `entry points` approach.

Here's the initial implementation of [grimoirelab-elk-gitee](https://github.com/heming66

[2020-06-03 02:29] heming6666 commented on #880
Hi @valeriocos @sduenas , please help look into this issue whenever you have time :)

[2020-06-03 15:13] valeriocos commented on #880
Hi @heming6666 , I'm a bit busy these days, I'll try to review it ASAP. Sorry for the delay.

[2020-06-03 15:15] heming6666 commented on #880
It's ok. Thank you @valeriocos very much!

[2020-06-05 16:44] GeorgLink commented on #697
@valeriocos and I had a chat about this idea today.

What was a revelation for me is that following above idea, the enrichment process would be expressed in a domain specific language (DSL) and GELK would become a parser or compilor for the DSL and execute it. The benefit is that the DSL can be shared with others while providing the flexibility to define custom metrics. The big challenge would be

[2020-06-07 20:38] vchrombie commented on #836
Hi @animeshk08

I was working on the _gitlabcomments_ enricher and tried this script to create the schema for that. It worked great. Thanks for sharing the script.